assets/xsd/auth.070.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Nov 28 16:00:01, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.070.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.070.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralMarginCorrection3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
            <xs:element name="EvtDt" type="ISODate"/>
            <xs:element name="CtrPty" type="Counterparty30"/>
            <xs:element name="CollPrtflId" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstdMrgnOrColl" type="PostedMarginOrCollateral3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvdMrgnOrColl" type="ReceivedMarginOrCollateral3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralMarginError2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
            <xs:element name="CtrPty" type="Counterparty30"/>
            <xs:element name="CollPrtflId" type="Max52Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralMarginMarginUpdate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
            <xs:element name="EvtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPty" type="Counterparty30"/>
            <xs:element name="CollPrtflId" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstdMrgnOrColl" type="PostedMarginOrCollateral3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvdMrgnOrColl" type="ReceivedMarginOrCollateral3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty30">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="OrganisationIdentification9Choice"/>
            <xs:element name="OthrCtrPty" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptSubmitgNtty" type="OrganisationIdentification9Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesFincgRptgTxMrgnDataRpt" type="SecuritiesFinancingReportingTransactionMarginDataReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification9Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostedMarginOrCollateral3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstd" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstd" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollPstd" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReceivedMarginOrCollateral3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvd" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvd" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollRcvd" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesFinancingReportingTransactionMarginDataReportV01">
        <xs:sequence>
            <xs:element name="TradData" type="TradeData6Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData6Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="TradeReport6Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeReport6Choice">
        <xs:choice>
            <xs:element name="New" type="CollateralMarginCorrection3"/>
            <xs:element name="Err" type="CollateralMarginError2"/>
            <xs:element name="Crrctn" type="CollateralMarginCorrection3"/>
            <xs:element name="TradUpd" type="CollateralMarginMarginUpdate2"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
