assets/xsd/auth.030.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Mar 10 16:02:34, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.030.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.030.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd20Amount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="19"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd20Amount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd20Amount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd20Amount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="19"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd20Amount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd20Amount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection54">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection56">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AssetClassCommodity2Choice">
        <xs:choice>
            <xs:element name="Agrcltrl" type="AssetClassSubProductAgriculturalType1Code"/>
            <xs:element name="Nrgy" type="AssetClassSubProductEnergyType1Code"/>
            <xs:element name="Envttl" type="AssetClassSubProductEnvironmentalType1Code"/>
            <xs:element name="Frght" type="AssetClassSubProductFreight1Code"/>
            <xs:element name="Indx" type="NoReasonCode"/>
            <xs:element name="Metl" type="AssetClassSubProductMetal1Code"/>
            <xs:element name="Extc" type="NoReasonCode"/>
            <xs:element name="Othr" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AssetClassSubProductAgriculturalType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIRY"/>
            <xs:enumeration value="FRST"/>
            <xs:enumeration value="GROS"/>
            <xs:enumeration value="LSTK"/>
            <xs:enumeration value="SOFT"/>
            <xs:enumeration value="SEAF"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductEnergyType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COAL"/>
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="OILP"/>
            <xs:enumeration value="INRG"/>
            <xs:enumeration value="NGAS"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductEnvironmentalType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMIS"/>
            <xs:enumeration value="WTHR"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductFreight1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRYF"/>
            <xs:enumeration value="WETF"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductMetal1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NPRM"/>
            <xs:enumeration value="PRME"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BenchmarkCurveName3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ESTR"/>
            <xs:enumeration value="BBSW"/>
            <xs:enumeration value="BUBO"/>
            <xs:enumeration value="CDOR"/>
            <xs:enumeration value="CIBO"/>
            <xs:enumeration value="EONA"/>
            <xs:enumeration value="EONS"/>
            <xs:enumeration value="EURI"/>
            <xs:enumeration value="EUUS"/>
            <xs:enumeration value="EUCH"/>
            <xs:enumeration value="FUSW"/>
            <xs:enumeration value="GCFR"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="JIBA"/>
            <xs:enumeration value="LIBI"/>
            <xs:enumeration value="LIBO"/>
            <xs:enumeration value="MOSP"/>
            <xs:enumeration value="MAAA"/>
            <xs:enumeration value="NIBO"/>
            <xs:enumeration value="PFAN"/>
            <xs:enumeration value="PRBO"/>
            <xs:enumeration value="STBO"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="TLBO"/>
            <xs:enumeration value="TIBO"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="WIBO"/>
            <xs:enumeration value="SOFR"/>
            <xs:enumeration value="SONA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Cleared9Choice">
        <xs:choice>
            <xs:element name="Clrd" type="ClearingPartyAndTime8"/>
            <xs:element name="NonClrd" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ClearingObligationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLSE"/>
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="TRUE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingPartyAndTime8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CCP" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralisationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLCL"/>
            <xs:enumeration value="OWCL"/>
            <xs:enumeration value="PRCL"/>
            <xs:enumeration value="UNCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CommonTradeDataReport33">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctData" type="ContractType8"/>
            <xs:element name="TxData" type="TradeTransaction24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommonTradeDataReport34">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctData" type="ContractType8"/>
            <xs:element name="TxData" type="TradeTransaction25"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommonTradeDataReport35">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctData" type="ContractType8"/>
            <xs:element name="TxData" type="TradeTransaction26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommonTradeDataReport36">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctData" type="ContractType8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxData" type="TradeTransaction27"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommonTradeDataReport37">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctData" type="ContractType8"/>
            <xs:element name="TxData" type="TradeTransaction25"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnTpDtls" type="Max50Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommonTradeDataReport38">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctData" type="ContractType8"/>
            <xs:element name="TxData" type="TradeTransaction28"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommonTradeDataReport39">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctData" type="ContractType8"/>
            <xs:element name="TxData" type="TradeTransaction25"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctMod" type="ContractModification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractModification1">
        <xs:sequence>
            <xs:element name="ActnTp" type="TransactionOperationType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lvl" type="ModificationLevel1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractType8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctTp" type="FinancialInstrumentContractType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstClss" type="ProductType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctClssfctn" type="ProductClassification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctId" type="SecurityIdentification18Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygInstrm" type="SecurityIdentification34Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlCcyFrstLeg" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlCcyScndLeg" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrblCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractValuationData2">
        <xs:sequence>
            <xs:element name="CtrctVal" type="AmountAndDirection54"/>
            <xs:element name="TmStmp" type="ISODateTime"/>
            <xs:element name="Tp" type="ValuationType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractValuationData3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctVal" type="AmountAndDirection54"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmStmp" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ValuationType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty25">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification7Choice"/>
            <xs:element name="Ntr" type="CounterpartyTradeNature5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgCpcty" type="TradingCapacity7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtySd" type="OptionParty1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty26">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntr" type="CounterpartyTradeNature5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgCpcty" type="TradingCapacity7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtySd" type="OptionParty1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty27">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification7Choice"/>
            <xs:element name="Ntr" type="CounterpartyTradeNature4Choice"/>
            <xs:element name="TradgCpcty" type="TradingCapacity7Code"/>
            <xs:element name="CtrPtySd" type="OptionParty1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty28">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification9Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty29">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartySpecificData21">
        <xs:sequence>
            <xs:element name="CtrPty" type="TradeCounterpartyReport8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Valtn" type="ContractValuationData3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Coll" type="TradeCollateralReport2"/>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartySpecificData22">
        <xs:sequence>
            <xs:element name="CtrPty" type="TradeCounterpartyReport9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Valtn" type="ContractValuationData3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Coll" type="TradeCollateralReport2"/>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartySpecificData23">
        <xs:sequence>
            <xs:element name="CtrPty" type="TradeCounterpartyReport9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Valtn" type="ContractValuationData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Coll" type="TradeCollateralReport1"/>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartySpecificData24">
        <xs:sequence>
            <xs:element name="CtrPty" type="TradeCounterpartyReport10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Valtn" type="ContractValuationData3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Coll" type="TradeCollateralReport2"/>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyTradeNature4Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FI" type="FinancialPartySectorType1Code"/>
            <xs:element name="NFI" type="NonFinancialInstitutionSector1"/>
            <xs:element name="CntrlCntrPty" type="NoReasonCode"/>
            <xs:element name="Othr" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CounterpartyTradeNature5Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FI" type="FinancialPartySectorType1Code"/>
            <xs:element name="NFI" type="NonFinancialInstitutionSector2"/>
            <xs:element name="CntrlCntrPty" type="NoReasonCode"/>
            <xs:element name="Othr" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountrySubDivisionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}\-[0-9A-Z]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditDerivative2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Snrty" type="DebtInstrumentSeniorityType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefPty" type="DerivativePartyIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="Frequency8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnBsis" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Srs" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxFctr" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trch" type="TrancheIndicator2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrencyExchange10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrblCrossCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FwdXchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRateBsis" type="ExchangeRateBasis1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DebtInstrumentSeniorityType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBOD"/>
            <xs:enumeration value="SNDB"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeliveryInterconnectionPoint1Choice">
        <xs:choice>
            <xs:element name="Cd" type="EICIdentifier"/>
            <xs:element name="Prtry" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DerivativePartyIdentification1Choice">
        <xs:choice>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="CtrySubDvsn" type="CountrySubDivisionCode"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DerivativesTradeReportV01">
        <xs:sequence>
            <xs:element name="RptHdr" type="TradeQueryHeader4"/>
            <xs:element name="TradData" type="TradeData17Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradRpt" type="DerivativesTradeReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DurationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="SEAS"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="MNUT"/>
            <xs:enumeration value="HOUR"/>
            <xs:enumeration value="DASD"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9\-]{16}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnergyDeliveryAttribute4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryIntrvl" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryPrd" type="DateTimePeriod1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DlvryTm" type="TimePeriodDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Drtn" type="DurationType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WkDay" type="WeekDay3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryCpcty" type="Quantity46Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtyUnit" type="EnergyQuantityUnit1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricTmIntrvlQty" type="LongFraction21DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EnergyLoadType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BSLD"/>
            <xs:enumeration value="GASD"/>
            <xs:enumeration value="HABH"/>
            <xs:enumeration value="OFFP"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PKLD"/>
            <xs:enumeration value="SHPD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnergyQuantityUnit1Choice">
        <xs:choice>
            <xs:element name="Cd" type="EnergyQuantityUnit1Code"/>
            <xs:element name="Prtry" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="EnergyQuantityUnit1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="THMD"/>
            <xs:enumeration value="MWHH"/>
            <xs:enumeration value="MWHD"/>
            <xs:enumeration value="MWAT"/>
            <xs:enumeration value="MTMD"/>
            <xs:enumeration value="MCMD"/>
            <xs:enumeration value="KWHH"/>
            <xs:enumeration value="KWHD"/>
            <xs:enumeration value="KWAT"/>
            <xs:enumeration value="KTMD"/>
            <xs:enumeration value="GWHH"/>
            <xs:enumeration value="GWHD"/>
            <xs:enumeration value="GWAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnergySpecificAttribute5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DlvryPtOrZone" type="DeliveryInterconnectionPoint1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrCnnctnPt" type="DeliveryInterconnectionPoint1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LdTp" type="EnergyLoadType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DlvryAttr" type="EnergyDeliveryAttribute4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeRateBasis1">
        <xs:sequence>
            <xs:element name="BaseCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeRateBasis1Choice">
        <xs:choice>
            <xs:element name="CcyPair" type="ExchangeRateBasis1"/>
            <xs:element name="Prtry" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FinancialInstrumentContractType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFDS"/>
            <xs:enumeration value="FRAS"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="SPDB"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity30Choice">
        <xs:choice>
            <xs:element name="Unit" type="LongFraction21DecimalNumber"/>
            <xs:element name="NmnlVal" type="ImpliedCurrencyAnd20Amount"/>
            <xs:element name="MntryVal" type="ImpliedCurrencyAnd20Amount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FinancialPartySectorType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AIFD"/>
            <xs:enumeration value="ASSU"/>
            <xs:enumeration value="CDTI"/>
            <xs:enumeration value="INUN"/>
            <xs:enumeration value="INVF"/>
            <xs:enumeration value="ORPI"/>
            <xs:enumeration value="REIN"/>
            <xs:enumeration value="UCIT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FixedRate6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DayCnt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="InterestRateFrequency2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingRate5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="FloatingRateIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefPrd" type="InterestRateContractTerm3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sprd" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="InterestRateFrequency2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RstFrqcy" type="InterestRateFrequency2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingRateIdentification3Choice">
        <xs:choice>
            <xs:element name="Cd" type="BenchmarkCurveName3Code"/>
            <xs:element name="Prtry" type="Max350Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Frequency8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QURT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAnd20Amount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="19"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestRate21Choice">
        <xs:choice>
            <xs:element name="Fxd" type="FixedRate6"/>
            <xs:element name="Fltg" type="FloatingRate5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRateContractTerm3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Unit" type="RateBasis1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max3Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InterestRateFrequency2Choice">
        <xs:choice>
            <xs:element name="Term" type="InterestRateContractTerm3"/>
            <xs:element name="Prtry" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRateLegs7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstLeg" type="InterestRate21Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLeg" type="InterestRate21Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LongDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="11"/>
            <xs:totalDigits value="22"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LongFraction21DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="21"/>
            <xs:totalDigits value="22"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MasterAgreement5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max50Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModificationLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PSTN"/>
            <xs:enumeration value="TCTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NACEDomainIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-U]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NonFinancialInstitutionSector1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sctr" type="NACEDomainIdentifier"/>
            <xs:element name="ClrThrshld" type="TrueFalseIndicator"/>
            <xs:element name="DrctlyLkdActvty" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonFinancialInstitutionSector2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sctr" type="NACEDomainIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshld" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctlyLkdActvty" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionOrSwaption4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="SecuritiesTransactionPrice3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnExrcStyle" type="OptionStyle6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDtOfUndrlyg" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionParty1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLLR"/>
            <xs:enumeration value="BYER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionStyle6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EURO"/>
            <xs:enumeration value="BERM"/>
            <xs:enumeration value="ASIA"/>
            <xs:enumeration value="AMER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification7Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification8Choice">
        <xs:choice>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification9Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhysicalTransferType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="OPTL"/>
            <xs:enumeration value="CASH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="PriceStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PNDG"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProductClassification1Choice">
        <xs:choice>
            <xs:element name="ClssfctnFinInstrm" type="CFIOct2015Identifier"/>
            <xs:element name="UnqPdctIdr" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProductType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="CURR"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity46Choice">
        <xs:choice>
            <xs:element name="Qty" type="LongFraction21DecimalNumber"/>
            <xs:element name="Desc" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RateBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Reconciliation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DSMA"/>
            <xs:enumeration value="DSNM"/>
            <xs:enumeration value="NORE"/>
            <xs:enumeration value="SSMA"/>
            <xs:enumeration value="SSPA"/>
            <xs:enumeration value="SSNE"/>
            <xs:enumeration value="SSUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesTransactionPrice10Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection54"/>
            <xs:element name="Unit" type="LongFraction21DecimalNumber"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="Yld" type="PercentageRate"/>
            <xs:element name="PdgPric" type="PriceStatus1Code"/>
            <xs:element name="Othr" type="SecuritiesTransactionPrice4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice3Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection56"/>
            <xs:element name="Unit" type="LongDecimalNumber"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="Yld" type="PercentageRate"/>
            <xs:element name="PdgPric" type="PriceStatus1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="LongFraction21DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification18Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="AltrntvInstrmId" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification34Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="AltrntvInstrmId" type="Max52Text"/>
            <xs:element name="UnqPdctIdr" type="Max52Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BsktCnsttnts" type="SecurityIdentification18Choice"/>
            <xs:element name="Indx" type="SecurityIdentification35Choice"/>
            <xs:element name="IdNotAvlbl" type="UnderlyingIdentification1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification35Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element name="Indx" type="BenchmarkCurveName3Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TechnicalAttributes1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnFlg" type="Reconciliation1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimePeriodDetails1">
        <xs:sequence>
            <xs:element name="FrTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ToTm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeClearing3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrOblgtn" type="ClearingObligationType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSts" type="Cleared9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntraGrp" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCollateralReport1">
        <xs:sequence>
            <xs:element name="Collstn" type="CollateralisationType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtfl" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstd" type="ActiveCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstd" type="ActiveCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvd" type="ActiveCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvd" type="ActiveCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollPstd" type="ActiveCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollRcvd" type="ActiveCurrencyAnd20Amount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCollateralReport2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Collstn" type="CollateralisationType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtfl" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstd" type="ActiveCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstd" type="ActiveCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvd" type="ActiveCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvd" type="ActiveCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollPstd" type="ActiveCurrencyAnd20Amount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollRcvd" type="ActiveCurrencyAnd20Amount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeConfirmation1Choice">
        <xs:choice>
            <xs:element name="Confd" type="TradeConfirmation2"/>
            <xs:element name="NonConfd" type="TradeNonConfirmation1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeConfirmation2">
        <xs:sequence>
            <xs:element name="Tp" type="TradeConfirmationType1Code"/>
            <xs:element name="TmStmp" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeConfirmation2Choice">
        <xs:choice>
            <xs:element name="Confd" type="TradeConfirmation3"/>
            <xs:element name="NonConfd" type="TradeNonConfirmation1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeConfirmation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="TradeConfirmationType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmStmp" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeConfirmationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ECNF"/>
            <xs:enumeration value="YCNF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeConfirmationType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NCNF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeCounterpartyReport10">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="Counterparty27"/>
            <xs:element name="OthrCtrPty" type="Counterparty28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgAgt" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrMmb" type="OrganisationIdentification9Choice"/>
            <xs:element name="Bnfcry" type="OrganisationIdentification9Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyReport8">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="Counterparty25"/>
            <xs:element name="OthrCtrPty" type="Counterparty28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgAgt" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrMmb" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bnfcry" type="OrganisationIdentification9Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyReport9">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="Counterparty26"/>
            <xs:element name="OthrCtrPty" type="Counterparty29"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgAgt" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrMmb" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bnfcry" type="OrganisationIdentification9Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData17Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="TradeReport12Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Stat" type="TradeStateReport10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeDataReport1">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData22"/>
            <xs:element name="CmonTradData" type="CommonTradeDataReport34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeNewPosition5">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData21"/>
            <xs:element name="CmonTradData" type="CommonTradeDataReport33"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeNewTransaction10">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData24"/>
            <xs:element name="CmonTradData" type="CommonTradeDataReport38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeNonConfirmation1">
        <xs:sequence>
            <xs:element name="Tp" type="TradeConfirmationType2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePositionComponent5">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData24"/>
            <xs:element name="CmonTradData" type="CommonTradeDataReport38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePositionEarlyTermination5">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData22"/>
            <xs:element name="CmonTradData" type="CommonTradeDataReport35"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePositionOther5">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData22"/>
            <xs:element name="CmonTradData" type="CommonTradeDataReport37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePositionReport7Choice">
        <xs:choice>
            <xs:element name="New" type="TradeNewPosition5"/>
            <xs:element name="Mod" type="TradeDataReport1"/>
            <xs:element name="Crrctn" type="TradeDataReport1"/>
            <xs:element name="EarlyTermntn" type="TradePositionEarlyTermination5"/>
            <xs:element name="ValtnUpd" type="TradePositionValuationUpdate5"/>
            <xs:element name="Err" type="TradeDataReport1"/>
            <xs:element name="Othr" type="TradePositionOther5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradePositionValuationUpdate5">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonTradData" type="CommonTradeDataReport36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeQueryHeader4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryExctnDt" type="ISODate"/>
            <xs:element name="MsgPgntn" type="Pagination1"/>
            <xs:element name="NbRcrds" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeReport12Choice">
        <xs:choice>
            <xs:element name="Pos" type="TradePositionReport7Choice"/>
            <xs:element name="Tx" type="TradeTransactionReport8Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeStateReport10">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData22"/>
            <xs:element name="CmonTradData" type="CommonTradeDataReport39"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransaction24">
        <xs:sequence>
            <xs:element name="UnqTradIdr" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptTrckgNb" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmplxTradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmprssn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="SecuritiesTransactionPrice10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlAmt" type="AmountAndDirection56"/>
            <xs:element name="PricMltplr" type="LongFraction21DecimalNumber"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpFrntPmt" type="AmountAndDirection56"/>
            <xs:element name="DlvryTp" type="PhysicalTransferType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradConf" type="TradeConfirmation2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradClr" type="TradeClearing3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="InterestRateLegs7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyExchange10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmmdty" type="AssetClassCommodity2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NrgySpcfcAttrbts" type="EnergySpecificAttribute5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Optn" type="OptionOrSwaption4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdt" type="CreditDerivative2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransaction25">
        <xs:sequence>
            <xs:element name="UnqTradIdr" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptTrckgNb" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmplxTradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmprssn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="SecuritiesTransactionPrice10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlAmt" type="AmountAndDirection56"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMltplr" type="LongFraction21DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="FinancialInstrumentQuantity30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpFrntPmt" type="AmountAndDirection56"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryTp" type="PhysicalTransferType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradConf" type="TradeConfirmation2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradClr" type="TradeClearing3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="InterestRateLegs7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyExchange10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmmdty" type="AssetClassCommodity2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NrgySpcfcAttrbts" type="EnergySpecificAttribute5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Optn" type="OptionOrSwaption4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdt" type="CreditDerivative2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransaction26">
        <xs:sequence>
            <xs:element name="UnqTradIdr" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptTrckgNb" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmplxTradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmprssn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="SecuritiesTransactionPrice10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlAmt" type="AmountAndDirection56"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMltplr" type="LongFraction21DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="FinancialInstrumentQuantity30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpFrntPmt" type="AmountAndDirection56"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryTp" type="PhysicalTransferType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element name="TermntnDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradConf" type="TradeConfirmation2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradClr" type="TradeClearing3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="InterestRateLegs7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyExchange10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmmdty" type="AssetClassCommodity2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NrgySpcfcAttrbts" type="EnergySpecificAttribute5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Optn" type="OptionOrSwaption4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdt" type="CreditDerivative2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransaction27">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqTradIdr" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptTrckgNb" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmplxTradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmprssn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="SecuritiesTransactionPrice10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlAmt" type="AmountAndDirection56"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMltplr" type="LongFraction21DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="FinancialInstrumentQuantity30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpFrntPmt" type="AmountAndDirection56"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryTp" type="PhysicalTransferType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradConf" type="TradeConfirmation2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradClr" type="TradeClearing3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="InterestRateLegs7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyExchange10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmmdty" type="AssetClassCommodity2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NrgySpcfcAttrbts" type="EnergySpecificAttribute5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Optn" type="OptionOrSwaption4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdt" type="CreditDerivative2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransaction28">
        <xs:sequence>
            <xs:element name="UnqTradIdr" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptTrckgNb" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmplxTradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmprssn" type="TrueFalseIndicator"/>
            <xs:element name="Pric" type="SecuritiesTransactionPrice10Choice"/>
            <xs:element name="NtnlAmt" type="AmountAndDirection56"/>
            <xs:element name="PricMltplr" type="LongFraction21DecimalNumber"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpFrntPmt" type="AmountAndDirection56"/>
            <xs:element name="DlvryTp" type="PhysicalTransferType4Code"/>
            <xs:element name="ExctnDtTm" type="ISODateTime"/>
            <xs:element name="FctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement5"/>
            <xs:element name="TradConf" type="TradeConfirmation1Choice"/>
            <xs:element name="TradClr" type="TradeClearing3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="InterestRateLegs7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyExchange10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmmdty" type="AssetClassCommodity2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NrgySpcfcAttrbts" type="EnergySpecificAttribute5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Optn" type="OptionOrSwaption4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdt" type="CreditDerivative2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionEarlyTermination5">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData22"/>
            <xs:element name="CmonTradData" type="CommonTradeDataReport35"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionOther6">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData22"/>
            <xs:element name="CmonTradData" type="CommonTradeDataReport37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionReport8Choice">
        <xs:choice>
            <xs:element name="New" type="TradeNewTransaction10"/>
            <xs:element name="Mod" type="TradeDataReport1"/>
            <xs:element name="Crrctn" type="TradeDataReport1"/>
            <xs:element name="EarlyTermntn" type="TradeTransactionEarlyTermination5"/>
            <xs:element name="PosCmpnt" type="TradePositionComponent5"/>
            <xs:element name="ValtnUpd" type="TradeTransactionValuationUpdate5"/>
            <xs:element name="Cmprssn" type="TradeDataReport1"/>
            <xs:element name="Err" type="TradeDataReport1"/>
            <xs:element name="Othr" type="TradeTransactionOther6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeTransactionValuationUpdate5">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtySpcfcData" type="CounterpartySpecificData23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonTradData" type="CommonTradeDataReport36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingCapacity7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="PRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Tranche2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AttchmntPt" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtchmntPt" type="BaseOneRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrancheIndicator2Choice">
        <xs:choice>
            <xs:element name="Trnchd" type="Tranche2"/>
            <xs:element name="Utrnchd" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CORR"/>
            <xs:enumeration value="ETRM"/>
            <xs:enumeration value="EROR"/>
            <xs:enumeration value="NEWT"/>
            <xs:enumeration value="POSC"/>
            <xs:enumeration value="VALU"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="MODI"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="BSKT"/>
            <xs:enumeration value="INDX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValuationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CCPV"/>
            <xs:enumeration value="MTMA"/>
            <xs:enumeration value="MTMO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WeekDay3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLD"/>
            <xs:enumeration value="XBHL"/>
            <xs:enumeration value="IBHL"/>
            <xs:enumeration value="FRID"/>
            <xs:enumeration value="MOND"/>
            <xs:enumeration value="SATD"/>
            <xs:enumeration value="SUND"/>
            <xs:enumeration value="THUD"/>
            <xs:enumeration value="TUED"/>
            <xs:enumeration value="WEDD"/>
            <xs:enumeration value="WDAY"/>
            <xs:enumeration value="WEND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
