assets/xsd/auth.092.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Mar 10 16:02:34, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.092.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.092.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="CompetentAuthority1">
        <xs:sequence>
            <xs:element name="Id" type="Max350Text"/>
            <xs:element name="OnbrdgSts" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyData36">
        <xs:sequence>
            <xs:element name="RptSubmitgNtty" type="LEIIdentifier"/>
            <xs:element name="RptgCtrPty" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DerivativesStatistics3">
        <xs:sequence>
            <xs:element name="TtlSubmittd" type="StatisticsPerActionType1"/>
            <xs:element name="TtlRjctd" type="StatisticsPerActionType1"/>
            <xs:element name="TtlCrrctdRjctns" type="StatisticsPerActionType1"/>
            <xs:element name="TopRjctnRsns" type="TopReasonsForRejections2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DerivativesTradeRejectionStatisticalReportV01">
        <xs:sequence>
            <xs:element name="SttstcsPerCtrPty" type="StatisticsPerCounterparty2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedStatisticsPerCounterparty6">
        <xs:sequence>
            <xs:element name="RptgPrd" type="Period2"/>
            <xs:element name="CtrPtyId" type="CounterpartyData36"/>
            <xs:element name="RjctnSttstcs" type="RejectionStatistics3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CmptntAuthrty" type="CompetentAuthority1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradRjctnSttstclRpt" type="DerivativesTradeRejectionStatisticalReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionStatistics3">
        <xs:sequence>
            <xs:element name="TtlNbOfTechRjctns" type="Max20PositiveNumber"/>
            <xs:element name="DerivsSttstcs" type="DerivativesStatistics3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatisticsPerActionType1">
        <xs:sequence>
            <xs:element name="All" type="Max20PositiveNumber"/>
            <xs:element name="New" type="Max20PositiveNumber"/>
            <xs:element name="Mod" type="Max20PositiveNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatisticsPerCounterparty2Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="DetailedStatisticsPerCounterparty6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TopReasonsForRejections2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="All" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="New" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Mod" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
