assets/xsd/auth.084.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Nov 28 16:00:01, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.084.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.084.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AgreementType1Choice">
        <xs:choice>
            <xs:element name="Tp" type="ExternalAgreementType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DetailedReportStatistics5">
        <xs:sequence>
            <xs:element name="TtlNbOfRpts" type="Max15NumericText"/>
            <xs:element name="TtlNbOfRptsAccptd" type="Max15NumericText"/>
            <xs:element name="TtlNbOfRptsRjctd" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfRptsRjctdPerErr" type="NumberOfTransactionsPerValidationRule5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedTransactionStatistics10">
        <xs:sequence>
            <xs:element name="TtlNbOfTxs" type="Max15NumericText"/>
            <xs:element name="TtlNbOfTxsAccptd" type="Max15NumericText"/>
            <xs:element name="TtlNbOfTxsRjctd" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NbOfTxsRjctd" type="RejectionReason47"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesFincgRptgTxStsAdvc" type="SecuritiesFinancingReportingTransactionStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAgreementType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalValidationRuleIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericValidationRuleIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="ValidationRuleSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MasterAgreement6">
        <xs:sequence>
            <xs:element name="Tp" type="AgreementType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrMstrAgrmtDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberOfTransactionsPerValidationRule5">
        <xs:sequence>
            <xs:element name="DtldNb" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RptSts" type="RejectionReason45"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification9Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionReason45">
        <xs:sequence>
            <xs:element name="MsgRptId" type="Max140Text"/>
            <xs:element name="Sts" type="ReportingMessageStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtldVldtnRule" type="GenericValidationRuleIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason47">
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentification1Choice"/>
            <xs:element name="Sts" type="ReportingMessageStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtldVldtnRule" type="GenericValidationRuleIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportingMessageStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPT"/>
            <xs:enumeration value="ACTC"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="RCVD"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RMDR"/>
            <xs:enumeration value="WARN"/>
            <xs:enumeration value="INCF"/>
            <xs:enumeration value="CRPT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesFinancingReportingTransactionStatusAdviceV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TxRptStsAndRsn" type="TradeData11Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData11Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="TradeData20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeData20">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RptSttstcs" type="DetailedReportStatistics5"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TxSttstcs" type="DetailedTransactionStatistics10"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionIdentification4">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="OrganisationIdentification9Choice"/>
            <xs:element name="OthrCtrPty" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqTradIdr" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtLndr" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="OrganisationIdentification9Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionIdentification8">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="OrganisationIdentification9Choice"/>
            <xs:element name="OthrCtrPty" type="OrganisationIdentification9Choice"/>
            <xs:element name="CollPrtflId" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionIdentification9">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="OrganisationIdentification9Choice"/>
            <xs:element name="RptSubmitgNtty" type="OrganisationIdentification9Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentification1Choice">
        <xs:choice>
            <xs:element name="Tx" type="TradeTransactionIdentification4"/>
            <xs:element name="MrgnRptg" type="TradeTransactionIdentification8"/>
            <xs:element name="CollReuse" type="TradeTransactionIdentification9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ValidationRuleSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalValidationRuleIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
