assets/xsd/caaa.008.001.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.14) on 2018 Feb 26 14:59:01, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.008.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.008.001.07">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorCancellationAdviceResponse7">
        <xs:sequence>
            <xs:element name="Envt" type="CardPaymentEnvironment69"/>
            <xs:element name="Tx" type="CardPaymentTransactionAdviceResponse6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSTrggr" type="TMSTrigger1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorCancellationAdviceResponseV07">
        <xs:sequence>
            <xs:element name="Hdr" type="Header36"/>
            <xs:element name="CxlAdvcRspn" type="AcceptorCancellationAdviceResponse7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType16"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
            <xs:enumeration value="SH31"/>
            <xs:enumeration value="SH32"/>
            <xs:enumeration value="SH33"/>
            <xs:enumeration value="SH35"/>
            <xs:enumeration value="SHK1"/>
            <xs:enumeration value="SHK2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
            <xs:enumeration value="CMA2"/>
            <xs:enumeration value="CM31"/>
            <xs:enumeration value="CM32"/>
            <xs:enumeration value="CM33"/>
            <xs:enumeration value="MCS3"/>
            <xs:enumeration value="CCA1"/>
            <xs:enumeration value="CCA2"/>
            <xs:enumeration value="CCA3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
            <xs:enumeration value="DA12"/>
            <xs:enumeration value="DA19"/>
            <xs:enumeration value="DA25"/>
            <xs:enumeration value="N108"/>
            <xs:enumeration value="EA5R"/>
            <xs:enumeration value="EA9R"/>
            <xs:enumeration value="EA2R"/>
            <xs:enumeration value="E3DR"/>
            <xs:enumeration value="E36C"/>
            <xs:enumeration value="E36R"/>
            <xs:enumeration value="SD5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification18">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification19">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification22">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm17Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification23">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification24">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient6Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification22"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentEnvironment69">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrId" type="GenericIdentification53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntId" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POIId" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Card" type="PaymentCard28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="CardPaymentToken4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentToken4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tkn" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="Max10Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TknChrtc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstr" type="PaymentTokenIdentifiers1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncLvl" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionAdviceResponse6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefId" type="Max35Text"/>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnId" type="Max35Text"/>
            <xs:element name="Rspn" type="Response4Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CONS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType16">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="AuthntcdData" type="AuthenticatedData5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType17">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrCxlAdvcRspn" type="AcceptorCancellationAdviceResponseV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent4">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CnttNcrptnAlgo" type="AlgorithmIdentification24"/>
            <xs:element name="NcrptdData" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
            <xs:enumeration value="I238"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgtrInf" type="OriginatorInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification53">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification76">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification94">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmotAccs" type="NetworkParameters5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header36">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction14Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification94"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification23"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification19"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max104Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="104"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max37Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="37"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max45Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="45"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max76Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="76"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="AUTP"/>
            <xs:enumeration value="CCAV"/>
            <xs:enumeration value="CCAK"/>
            <xs:enumeration value="CCAQ"/>
            <xs:enumeration value="CCAP"/>
            <xs:enumeration value="CMPV"/>
            <xs:enumeration value="CMPK"/>
            <xs:enumeration value="DCAV"/>
            <xs:enumeration value="DCRR"/>
            <xs:enumeration value="DCCQ"/>
            <xs:enumeration value="DCCP"/>
            <xs:enumeration value="DGNP"/>
            <xs:enumeration value="DGNQ"/>
            <xs:enumeration value="FAUQ"/>
            <xs:enumeration value="FAUP"/>
            <xs:enumeration value="FCMV"/>
            <xs:enumeration value="FCMK"/>
            <xs:enumeration value="FRVA"/>
            <xs:enumeration value="FRVR"/>
            <xs:enumeration value="RCLQ"/>
            <xs:enumeration value="RCLP"/>
            <xs:enumeration value="RVRA"/>
            <xs:enumeration value="RVRR"/>
            <xs:enumeration value="CDDQ"/>
            <xs:enumeration value="CDDK"/>
            <xs:enumeration value="CDDR"/>
            <xs:enumeration value="CDDP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NetworkParameters4">
        <xs:sequence>
            <xs:element name="NtwkTp" type="NetworkType1Code"/>
            <xs:element name="AdrVal" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetworkParameters5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Adr" type="NetworkParameters4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AccsCd" type="Max35Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCert" type="Max10KBinary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCertIdr" type="Max140Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClntCert" type="Max10KBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyPrfl" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NetworkType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IPNW"/>
            <xs:enumeration value="PSTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginatorInformation1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm16Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm16Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentCard28">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCardData" type="ContentInformationType17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvtCardData" type="Max100KBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlainCardData" type="PlainCardData15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtAcctRef" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskdPAN" type="Max30Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrBIN" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCtryCd" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCcyCd" type="Exact3AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctPrfl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardBrnd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctTp" type="CardProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctSubTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrnlCard" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AllwdPdct" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcOptn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCardData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTokenIdentifiers1">
        <xs:sequence>
            <xs:element name="PrvdrId" type="Max35Text"/>
            <xs:element name="RqstrId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlainCardData15">
        <xs:sequence>
            <xs:element name="PAN" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="Max10Text"/>
            <xs:element name="XpryDt" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcCd" type="Exact3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck1" type="Max76Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck2" type="Max37Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck3" type="Max104Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrNm" type="Max45Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient6Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport5"/>
            <xs:element name="KEK" type="KEK5"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TMSContactLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRIT"/>
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="DTIM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TMSTrigger1">
        <xs:sequence>
            <xs:element name="TMSCtctLvl" type="TMSContactLevel1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSCtctDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability5">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification76"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime"/>
            <xs:element name="TxRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
