assets/xsd/caaa.007.001.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.14) on 2018 Feb 26 14:59:01, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.007.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.007.001.07">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorCancellationAdvice7">
        <xs:sequence>
            <xs:element name="Envt" type="CardPaymentEnvironment68"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntxt" type="CardPaymentContext26"/>
            <xs:element name="Tx" type="CardPaymentTransaction83"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorCancellationAdviceV07">
        <xs:sequence>
            <xs:element name="Hdr" type="Header36"/>
            <xs:element name="CxlAdvc" type="AcceptorCancellationAdvice7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType16"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Acquirer4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="GenericIdentification53"/>
            <xs:element name="ParamsVrsn" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressVerification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrDgts" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCdDgts" type="Max5NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
            <xs:enumeration value="SH31"/>
            <xs:enumeration value="SH32"/>
            <xs:enumeration value="SH33"/>
            <xs:enumeration value="SH35"/>
            <xs:enumeration value="SHK1"/>
            <xs:enumeration value="SHK2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
            <xs:enumeration value="CMA2"/>
            <xs:enumeration value="CM31"/>
            <xs:enumeration value="CM32"/>
            <xs:enumeration value="CM33"/>
            <xs:enumeration value="MCS3"/>
            <xs:enumeration value="CCA1"/>
            <xs:enumeration value="CCA2"/>
            <xs:enumeration value="CCA3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
            <xs:enumeration value="DA12"/>
            <xs:enumeration value="DA19"/>
            <xs:enumeration value="DA25"/>
            <xs:enumeration value="N108"/>
            <xs:enumeration value="EA5R"/>
            <xs:enumeration value="EA9R"/>
            <xs:enumeration value="EA2R"/>
            <xs:enumeration value="E3DR"/>
            <xs:enumeration value="E36C"/>
            <xs:enumeration value="E36R"/>
            <xs:enumeration value="SD5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm19Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERS2"/>
            <xs:enumeration value="ERS1"/>
            <xs:enumeration value="RPSS"/>
            <xs:enumeration value="ECC5"/>
            <xs:enumeration value="ECC1"/>
            <xs:enumeration value="ECC4"/>
            <xs:enumeration value="ECC2"/>
            <xs:enumeration value="ECC3"/>
            <xs:enumeration value="ERS3"/>
            <xs:enumeration value="ECP2"/>
            <xs:enumeration value="ECP3"/>
            <xs:enumeration value="ECP5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification18">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification19">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification20">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm19Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification21">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm16Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification22">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm17Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification23">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification24">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AttendanceContext1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATTD"/>
            <xs:enumeration value="SATT"/>
            <xs:enumeration value="UATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient6Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification22"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AuthenticationEntity2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICCD"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ISSR"/>
            <xs:enumeration value="TRML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthenticationMethod5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="PPSG"/>
            <xs:enumeration value="PSWD"/>
            <xs:enumeration value="SCRT"/>
            <xs:enumeration value="SCNL"/>
            <xs:enumeration value="SNCT"/>
            <xs:enumeration value="CPSG"/>
            <xs:enumeration value="ADDB"/>
            <xs:enumeration value="BIOM"/>
            <xs:enumeration value="CDHI"/>
            <xs:enumeration value="CRYP"/>
            <xs:enumeration value="CSCV"/>
            <xs:enumeration value="PSVE"/>
            <xs:enumeration value="CSEC"/>
            <xs:enumeration value="ADDS"/>
            <xs:enumeration value="TOKP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthenticationMethod6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="PPSG"/>
            <xs:enumeration value="PSWD"/>
            <xs:enumeration value="SCRT"/>
            <xs:enumeration value="SCNL"/>
            <xs:enumeration value="SNCT"/>
            <xs:enumeration value="CPSG"/>
            <xs:enumeration value="ADDB"/>
            <xs:enumeration value="BIOM"/>
            <xs:enumeration value="CDHI"/>
            <xs:enumeration value="CRYP"/>
            <xs:enumeration value="CSCV"/>
            <xs:enumeration value="PSVE"/>
            <xs:enumeration value="CSEC"/>
            <xs:enumeration value="ADDS"/>
            <xs:enumeration value="MANU"/>
            <xs:enumeration value="FPIN"/>
            <xs:enumeration value="TOKP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthenticationResult1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DENY"/>
            <xs:enumeration value="MRCH"/>
            <xs:enumeration value="CARD"/>
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="CRPT"/>
            <xs:enumeration value="UCRP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthorisationResult12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnNtty" type="GenericIdentification90"/>
            <xs:element name="RspnToAuthstn" type="ResponseType5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnCd" type="Min6Max8Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSTrggr" type="TMSTrigger1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardDataReading5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TAGC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="BRCD"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="CICC"/>
            <xs:enumeration value="DFLE"/>
            <xs:enumeration value="CTLS"/>
            <xs:enumeration value="ECTL"/>
            <xs:enumeration value="CDFL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardDirectDebit1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrId" type="Debtor3"/>
            <xs:element name="CdtrId" type="Creditor3"/>
            <xs:element name="MndtRltdInf" type="MandateRelatedInformation13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardFallback1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FFLB"/>
            <xs:enumeration value="SFLB"/>
            <xs:enumeration value="NFLB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentContext26">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtCntxt" type="PaymentContext24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleCntxt" type="SaleContext2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctDbtCntxt" type="CardDirectDebit1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentEnvironment68">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="Acquirer4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mrchnt" type="Organisation32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POI" type="PointOfInteraction8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Card" type="PaymentCard28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrDvc" type="CustomerDevice1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Wllt" type="CustomerDevice1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="CardPaymentToken4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Crdhldr" type="Cardholder13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCrdhldrData" type="ContentInformationType17"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardPaymentServiceType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALC"/>
            <xs:enumeration value="CACT"/>
            <xs:enumeration value="CRDP"/>
            <xs:enumeration value="CAFH"/>
            <xs:enumeration value="CAVR"/>
            <xs:enumeration value="CSHW"/>
            <xs:enumeration value="CSHD"/>
            <xs:enumeration value="DEFR"/>
            <xs:enumeration value="LOAD"/>
            <xs:enumeration value="ORCR"/>
            <xs:enumeration value="PINC"/>
            <xs:enumeration value="QUCH"/>
            <xs:enumeration value="RFND"/>
            <xs:enumeration value="RESA"/>
            <xs:enumeration value="VALC"/>
            <xs:enumeration value="UNLD"/>
            <xs:enumeration value="CAFT"/>
            <xs:enumeration value="CAFL"/>
            <xs:enumeration value="CIDD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardPaymentServiceType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IRES"/>
            <xs:enumeration value="URES"/>
            <xs:enumeration value="PRES"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="FREC"/>
            <xs:enumeration value="RREC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardPaymentServiceType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGGR"/>
            <xs:enumeration value="DCCV"/>
            <xs:enumeration value="GRTT"/>
            <xs:enumeration value="LOYT"/>
            <xs:enumeration value="NRES"/>
            <xs:enumeration value="PUCO"/>
            <xs:enumeration value="RECP"/>
            <xs:enumeration value="SOAF"/>
            <xs:enumeration value="VCAU"/>
            <xs:enumeration value="INSI"/>
            <xs:enumeration value="INSA"/>
            <xs:enumeration value="CSHB"/>
            <xs:enumeration value="INST"/>
            <xs:enumeration value="NRFD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentToken4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tkn" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="Max10Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TknChrtc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstr" type="PaymentTokenIdentifiers1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncLvl" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransaction79">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefId" type="Max35Text"/>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POIId" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptTxId" type="Max35Text"/>
            <xs:element name="TxTp" type="CardPaymentServiceType12Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlSvc" type="CardPaymentServiceType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcAttr" type="CardPaymentServiceType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardDataNtryMd" type="CardDataReading5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRslt" type="CardPaymentTransactionResult3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransaction83">
        <xs:sequence>
            <xs:element name="MrchntCtgyCd" type="Min3Max4Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CstmrCnsnt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CardPrgrmmPropsd" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CardPrgrmmApld" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefId" type="Max35Text"/>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlTx" type="CardPaymentTransaction79"/>
            <xs:element name="TxSucss" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rvsl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FailrRsn" type="FailureReason3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrchngData" type="Max140Text"/>
            <xs:element name="TxDtls" type="CardPaymentTransactionDetails34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnRslt" type="AuthorisationResult12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlTxData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionDetails34">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element name="TtlAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ICCRltdData" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionResult3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnNtty" type="GenericIdentification90"/>
            <xs:element name="RspnToAuthstn" type="ResponseType5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnCd" type="Min6Max8Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CONS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Cardholder13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PersonIdentification15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max45Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lang" type="LanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BllgAdr" type="PostalAddress22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShppgAdr" type="PostalAddress22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TripNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vhcl" type="Vehicle1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Authntcn" type="CardholderAuthentication11"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxVrfctnRslt" type="TransactionVerificationResult4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrsnlData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardholderAuthentication11">
        <xs:sequence>
            <xs:element name="AuthntcnMtd" type="AuthenticationMethod5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnVal" type="Max5000Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdAuthntcnVal" type="ContentInformationType17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrOnLinePIN" type="OnLinePIN6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrId" type="PersonIdentification15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrVrfctn" type="AddressVerification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnLvl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnRslt" type="AuthenticationResult1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnAddtlInf" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardholderVerificationCapability4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APKI"/>
            <xs:enumeration value="CHDT"/>
            <xs:enumeration value="MNSG"/>
            <xs:enumeration value="MNVR"/>
            <xs:enumeration value="FBIG"/>
            <xs:enumeration value="FBIO"/>
            <xs:enumeration value="FDSG"/>
            <xs:enumeration value="FCPN"/>
            <xs:enumeration value="FEPN"/>
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="PKIS"/>
            <xs:enumeration value="SCEC"/>
            <xs:enumeration value="NBIO"/>
            <xs:enumeration value="NOVF"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification7Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="BBAN" type="BBANIdentifier"/>
            <xs:element name="UPIC" type="UPICIdentifier"/>
            <xs:element name="DmstAcct" type="SimpleIdentificationInformation4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationAddress9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Phne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrSvc" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtctInf" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationCharacteristics3">
        <xs:sequence>
            <xs:element name="ComTp" type="POICommunicationType2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RmotPty" type="PartyType7Code"/>
            <xs:element name="Actv" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType16">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="AuthntcdData" type="AuthenticatedData5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType17">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType19">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcdData" type="AuthenticatedData5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgndData" type="SignedData5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstdData" type="DigestedData5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Creditor3">
        <xs:sequence>
            <xs:element name="Cdtr" type="PartyIdentification100Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CryptographicKey13">
        <xs:sequence>
            <xs:element name="Id" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Binary"/>
            <xs:element name="Vrsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CryptographicKeyType3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Fctn" type="KeyUsage1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActvtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DeactvtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyVal" type="ContentInformationType19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyChckVal" type="Max35Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlMgmtInf" type="GenericInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CryptographicKeyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AES2"/>
            <xs:enumeration value="EDE3"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="AES9"/>
            <xs:enumeration value="AES5"/>
            <xs:enumeration value="EDE4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CustomerDevice1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prvdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth1">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Debtor3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="PartyIdentification100Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="CashAccountIdentification7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DigestedData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification21"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="Dgst" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisplayCapabilities4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Dstn" type="UserInterface4Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AvlblFrmt" type="OutputFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfLines" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LineWidth" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AvlblLang" type="LanguageCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrCxlAdvc" type="AcceptorCancellationAdviceV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent4">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CnttNcrptnAlgo" type="AlgorithmIdentification24"/>
            <xs:element name="NcrptdData" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
            <xs:enumeration value="I238"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgtrInf" type="OriginatorInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FailureReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDCL"/>
            <xs:enumeration value="CUCL"/>
            <xs:enumeration value="MALF"/>
            <xs:enumeration value="FDCL"/>
            <xs:enumeration value="NDCL"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="SFRD"/>
            <xs:enumeration value="TIMO"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="UCMP"/>
            <xs:enumeration value="USND"/>
            <xs:enumeration value="SECU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification48">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Vrsn" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification53">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification76">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification90">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType14Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification94">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmotAccs" type="NetworkParameters5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericInformation1">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header36">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction14Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification94"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification23"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification19"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="KeyUsage1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENCR"/>
            <xs:enumeration value="DCPT"/>
            <xs:enumeration value="DENC"/>
            <xs:enumeration value="DDEC"/>
            <xs:enumeration value="TRNI"/>
            <xs:enumeration value="TRNX"/>
            <xs:enumeration value="MACG"/>
            <xs:enumeration value="MACV"/>
            <xs:enumeration value="SIGG"/>
            <xs:enumeration value="SUGV"/>
            <xs:enumeration value="PINE"/>
            <xs:enumeration value="PIND"/>
            <xs:enumeration value="PINV"/>
            <xs:enumeration value="KEYG"/>
            <xs:enumeration value="KEYI"/>
            <xs:enumeration value="KEYX"/>
            <xs:enumeration value="KEYD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LanguageCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="LocationCategory1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXD"/>
            <xs:enumeration value="ABRD"/>
            <xs:enumeration value="NMDC"/>
            <xs:enumeration value="MOTO"/>
            <xs:enumeration value="HOME"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LocationCategory3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDR"/>
            <xs:enumeration value="IPMP"/>
            <xs:enumeration value="MPOI"/>
            <xs:enumeration value="MPMP"/>
            <xs:enumeration value="MSLE"/>
            <xs:enumeration value="SSLE"/>
            <xs:enumeration value="VNDG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MandateRelatedInformation13">
        <xs:sequence>
            <xs:element name="MndtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfSgntr" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MndtImg" type="Max2MBBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max10000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max104Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="104"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2MBBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="2097152"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="3000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max37Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="37"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max45Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="45"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max76Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="76"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemoryCharacteristics1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="TtlSz" type="DecimalNumber"/>
            <xs:element name="FreeSz" type="DecimalNumber"/>
            <xs:element name="Unit" type="MemoryUnit1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MemoryUnit1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BYTE"/>
            <xs:enumeration value="EXAB"/>
            <xs:enumeration value="GIGA"/>
            <xs:enumeration value="KILO"/>
            <xs:enumeration value="MEGA"/>
            <xs:enumeration value="PETA"/>
            <xs:enumeration value="TERA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="AUTP"/>
            <xs:enumeration value="CCAV"/>
            <xs:enumeration value="CCAK"/>
            <xs:enumeration value="CCAQ"/>
            <xs:enumeration value="CCAP"/>
            <xs:enumeration value="CMPV"/>
            <xs:enumeration value="CMPK"/>
            <xs:enumeration value="DCAV"/>
            <xs:enumeration value="DCRR"/>
            <xs:enumeration value="DCCQ"/>
            <xs:enumeration value="DCCP"/>
            <xs:enumeration value="DGNP"/>
            <xs:enumeration value="DGNQ"/>
            <xs:enumeration value="FAUQ"/>
            <xs:enumeration value="FAUP"/>
            <xs:enumeration value="FCMV"/>
            <xs:enumeration value="FCMK"/>
            <xs:enumeration value="FRVA"/>
            <xs:enumeration value="FRVR"/>
            <xs:enumeration value="RCLQ"/>
            <xs:enumeration value="RCLP"/>
            <xs:enumeration value="RVRA"/>
            <xs:enumeration value="RVRR"/>
            <xs:enumeration value="CDDQ"/>
            <xs:enumeration value="CDDK"/>
            <xs:enumeration value="CDDR"/>
            <xs:enumeration value="CDDP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min3Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min6Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress6">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetworkParameters4">
        <xs:sequence>
            <xs:element name="NtwkTp" type="NetworkType1Code"/>
            <xs:element name="AdrVal" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetworkParameters5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Adr" type="NetworkParameters4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AccsCd" type="Max35Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCert" type="Max10KBinary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCertIdr" type="Max140Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClntCert" type="Max10KBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyPrfl" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NetworkType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IPNW"/>
            <xs:enumeration value="PSTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OnLineCapability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OFLN"/>
            <xs:enumeration value="ONLN"/>
            <xs:enumeration value="SMON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OnLinePIN6">
        <xs:sequence>
            <xs:element name="NcrptdPINBlck" type="ContentInformationType17"/>
            <xs:element name="PINFrmt" type="PINFormat3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInpt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Organisation26">
        <xs:sequence>
            <xs:element name="CmonNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max140Text"/>
            <xs:element name="CtryCd" type="ISO3NumericCountryCode"/>
            <xs:element name="MrchntCtgyCd" type="Min3Max4Text"/>
            <xs:element name="RegdIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Organisation32">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LctnCtgy" type="LocationCategory1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LctnAndCtct" type="CommunicationAddress9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeData" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginatorInformation1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OutputFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MREF"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="HTML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PINFormat3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ISO0"/>
            <xs:enumeration value="ISO1"/>
            <xs:enumeration value="ISO2"/>
            <xs:enumeration value="ISO3"/>
            <xs:enumeration value="ISO4"/>
            <xs:enumeration value="ISO5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POICommunicationType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLTH"/>
            <xs:enumeration value="ETHR"/>
            <xs:enumeration value="GPRS"/>
            <xs:enumeration value="GSMF"/>
            <xs:enumeration value="PSTN"/>
            <xs:enumeration value="RS23"/>
            <xs:enumeration value="USBD"/>
            <xs:enumeration value="USBH"/>
            <xs:enumeration value="WIFI"/>
            <xs:enumeration value="WT2G"/>
            <xs:enumeration value="WT3G"/>
            <xs:enumeration value="WT4G"/>
            <xs:enumeration value="WT5G"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentAssessment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPL"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="EVAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WAIT"/>
            <xs:enumeration value="OUTD"/>
            <xs:enumeration value="OPER"/>
            <xs:enumeration value="DACT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AQPP"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="TLPR"/>
            <xs:enumeration value="SCPR"/>
            <xs:enumeration value="SERV"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="DVCE"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="APLI"/>
            <xs:enumeration value="EMVK"/>
            <xs:enumeration value="EMVO"/>
            <xs:enumeration value="MDWR"/>
            <xs:enumeration value="DRVR"/>
            <xs:enumeration value="OPST"/>
            <xs:enumeration value="MRPR"/>
            <xs:enumeration value="CRTF"/>
            <xs:enumeration value="TMSP"/>
            <xs:enumeration value="SACP"/>
            <xs:enumeration value="SAPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm16Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter11">
        <xs:sequence>
            <xs:element name="DgstAlgo" type="Algorithm16Code"/>
            <xs:element name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
            <xs:element name="SaltLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrlrFld" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm16Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification100Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress6"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PartyType14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="ICCA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="PCPT"/>
            <xs:enumeration value="TMGT"/>
            <xs:enumeration value="SALE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentCard28">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCardData" type="ContentInformationType17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvtCardData" type="Max100KBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlainCardData" type="PlainCardData15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtAcctRef" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskdPAN" type="Max30Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrBIN" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCtryCd" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCcyCd" type="Exact3AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctPrfl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardBrnd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctTp" type="CardProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctSubTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrnlCard" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AllwdPdct" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcOptn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCardData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentContext24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineCntxt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncCntxt" type="AttendanceContext1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxEnvt" type="TransactionEnvironment1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxChanl" type="TransactionChannel5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndntMsgCpbl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndntLang" type="LanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardDataNtryMd" type="CardDataReading5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FllbckInd" type="CardFallback1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpprtdOptn" type="SupportedPaymentOption1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTokenIdentifiers1">
        <xs:sequence>
            <xs:element name="PrvdrId" type="Max35Text"/>
            <xs:element name="RqstrId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification15">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvrLicNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvrLicLctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvrLicNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SclSctyNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AlnRegnNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PsptNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxIdNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IdntyCardNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MplyrIdNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MplyeeIdNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="JobNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericIdentification4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlainCardData15">
        <xs:sequence>
            <xs:element name="PAN" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="Max10Text"/>
            <xs:element name="XpryDt" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcCd" type="Exact3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck1" type="Max76Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck2" type="Max37Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck3" type="Max104Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrNm" type="Max45Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlainCardData17">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PAN" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck1" type="Max76Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck2" type="Max37Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck3" type="Max104Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlCardData" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryMd" type="CardDataReading5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteraction8">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrpId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cpblties" type="PointOfInteractionCapabilities6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmZone" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermnlIntgtn" type="LocationCategory3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cmpnt" type="PointOfInteractionComponent8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionCapabilities6">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CardRdngCpblties" type="CardDataReading5Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CrdhldrVrfctnCpblties" type="CardholderVerificationCapability4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PINLngthCpblties" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvlCdLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MxScrptLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCaptrCpbl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineCpblties" type="OnLineCapability1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgCpblties" type="DisplayCapabilities4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponent8">
        <xs:sequence>
            <xs:element name="Tp" type="POIComponentType5Code"/>
            <xs:element name="Id" type="PointOfInteractionComponentIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="PointOfInteractionComponentStatus3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StdCmplc" type="GenericIdentification48"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtcs" type="PointOfInteractionComponentCharacteristics4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Assmnt" type="PointOfInteractionComponentAssessment1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentAssessment1">
        <xs:sequence>
            <xs:element name="Tp" type="POIComponentAssessment1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XprtnDt" type="ISODateTime"/>
            <xs:element name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentCharacteristics4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Mmry" type="MemoryCharacteristics1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Com" type="CommunicationCharacteristics3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyAccsMdls" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcbrIdntyMdls" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctyElmt" type="CryptographicKey13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentStatus3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VrsnNb" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="POIComponentStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress22">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="2" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max70Text"/>
            <xs:element maxOccurs="2" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryCd" type="Min2Max3AlphaText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient6Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport5"/>
            <xs:element name="KEK" type="KEK5"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType5">
        <xs:sequence>
            <xs:element name="Rspn" type="Response4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRspnInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SaleContext2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRcncltnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShftNb" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurchsOrdrNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvcNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryNoteNb" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpnsrdMrchnt" type="Organisation26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpltPmt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSaleData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DgstAlgo" type="AlgorithmIdentification21"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max5000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sgnr" type="Signer4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Signer4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgnrId" type="Recipient5Choice"/>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification21"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SgndAttrbts" type="GenericInformation1"/>
            <xs:element name="SgntrAlgo" type="AlgorithmIdentification20"/>
            <xs:element name="Sgntr" type="Max3000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SupportedPaymentOption1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PART"/>
            <xs:enumeration value="MSRV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TMSContactLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRIT"/>
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="DTIM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TMSTrigger1">
        <xs:sequence>
            <xs:element name="TMSCtctLvl" type="TMSContactLevel1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSCtctDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability5">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification76"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionChannel5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="TLPH"/>
            <xs:enumeration value="ECOM"/>
            <xs:enumeration value="TVPY"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="MOBL"/>
            <xs:enumeration value="MPOS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransactionEnvironment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="PRIV"/>
            <xs:enumeration value="PUBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime"/>
            <xs:element name="TxRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionVerificationResult4">
        <xs:sequence>
            <xs:element name="Mtd" type="AuthenticationMethod6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VrfctnNtty" type="AuthenticationEntity2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Verification1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRslt" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserInterface4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDSP"/>
            <xs:enumeration value="CRCP"/>
            <xs:enumeration value="MDSP"/>
            <xs:enumeration value="MRCP"/>
            <xs:enumeration value="CRDO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Vehicle1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VhclNb" type="Max35NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrlrNb" type="Max35NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VhclTag" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VhclTagNtryMd" type="CardDataReading5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitNb" type="Max35NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RplcmntCar" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Odmtr" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Hbmtr" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrlrHrs" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefrHrs" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MntncId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvrOrVhclCard" type="PlainCardData17"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlVhclData" type="Vehicle2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vehicle2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryMd" type="CardDataReading5Code"/>
            <xs:element name="Data" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Verification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="NOVF"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="SUCC"/>
            <xs:enumeration value="ERRR"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
