assets/xsd/casp.013.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2019 Jun 12 11:51:20, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:casp.013.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:casp.013.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorRejection2">
        <xs:sequence>
            <xs:element name="RjctRsn" type="RejectReason1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max500Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgInErr" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SaleToPOIMsgRjctn" type="SaleToPOIMessageRejectionV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification171">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmotAccs" type="NetworkParameters5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Glctn" type="Geolocation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Geolocation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="GeogcCordints" type="GeolocationGeographicCoordinates1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UTMCordints" type="GeolocationUTMCoordinates1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeolocationGeographicCoordinates1">
        <xs:sequence>
            <xs:element name="Lat" type="Max35Text"/>
            <xs:element name="Long" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeolocationUTMCoordinates1">
        <xs:sequence>
            <xs:element name="UTMZone" type="Max35Text"/>
            <xs:element name="UTMEstwrd" type="Max35Text"/>
            <xs:element name="UTMNrthwrd" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header37">
        <xs:sequence>
            <xs:element name="MsgFctn" type="RetailerMessage1Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification171"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification171"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NetworkParameters4">
        <xs:sequence>
            <xs:element name="NtwkTp" type="NetworkType1Code"/>
            <xs:element name="AdrVal" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetworkParameters5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Adr" type="NetworkParameters4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AccsCd" type="Max35Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCert" type="Max10KBinary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCertIdr" type="Max140Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClntCert" type="Max10KBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyPrfl" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NetworkType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IPNW"/>
            <xs:enumeration value="PSTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNPR"/>
            <xs:enumeration value="IMSG"/>
            <xs:enumeration value="PARS"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="INTP"/>
            <xs:enumeration value="RCPP"/>
            <xs:enumeration value="DPMG"/>
            <xs:enumeration value="VERS"/>
            <xs:enumeration value="MSGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RetailerMessage1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SSAB"/>
            <xs:enumeration value="SAAQ"/>
            <xs:enumeration value="SAAP"/>
            <xs:enumeration value="SDDR"/>
            <xs:enumeration value="SDDP"/>
            <xs:enumeration value="SSEN"/>
            <xs:enumeration value="SSMQ"/>
            <xs:enumeration value="SSMR"/>
            <xs:enumeration value="SSRJ"/>
            <xs:enumeration value="SARQ"/>
            <xs:enumeration value="SARP"/>
            <xs:enumeration value="SFRP"/>
            <xs:enumeration value="SFRQ"/>
            <xs:enumeration value="SFSQ"/>
            <xs:enumeration value="SFSP"/>
            <xs:enumeration value="SASQ"/>
            <xs:enumeration value="SASP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SaleToPOIMessageRejectionV01">
        <xs:sequence>
            <xs:element name="Hdr" type="Header37"/>
            <xs:element name="Rjct" type="AcceptorRejection2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability6">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification171"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
