assets/xsd/catm.005.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Feb 26 17:28:53, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:catm.005.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:catm.005.001.06">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorConfigurationContent9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RplcCfgtn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TMSPrtcolParams" type="TMSProtocolParameters5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcqrrPrtcolParams" type="AcquirerProtocolParameters13"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MrchntParams" type="MerchantConfigurationParameters5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TermnlParams" type="PaymentTerminalParameters7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ApplParams" type="ApplicationParameters9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="HstComParams" type="HostCommunicationParameter6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctyParams" type="SecurityParameters12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SaleToPOIParams" type="SaleToPOIProtocolParameter1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TermnlPackg" type="TerminalPackageType1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorConfigurationDataSet1">
        <xs:sequence>
            <xs:element name="Id" type="DataSetIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqCntr" type="Max9NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="POIId" type="GenericIdentification176"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CfgtnScp" type="PartyType15Code"/>
            <xs:element name="Cntt" type="AcceptorConfigurationContent9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerHostConfiguration7">
        <xs:sequence>
            <xs:element name="HstId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgToSnd" type="MessageFunction40Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolVrsn" type="Max8Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerProtocolExchangeBehavior1">
        <xs:sequence>
            <xs:element name="FinCaptr" type="FinancialCapture1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchTrf" type="ExchangeConfiguration8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmpltnXchg" type="ExchangeConfiguration8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlXchg" type="CancellationProcess2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerProtocolParameters13">
        <xs:sequence>
            <xs:element name="ActnTp" type="TerminalManagementAction3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AcqrrId" type="GenericIdentification176"/>
            <xs:element name="Vrsn" type="Max256Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ApplId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Hst" type="AcquirerHostConfiguration7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineTx" type="AcquirerProtocolExchangeBehavior1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffLineTx" type="AcquirerProtocolExchangeBehavior1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnXchg" type="ExchangeConfiguration8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnByAcqrr" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlsPerCcy" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpltTtls" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnErr" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardDataVrfctn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfyOffLineCxl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BtchTrfCntt" type="BatchTransactionType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FileTrfBtch" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchDgtlSgntr" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgItm" type="MessageItemCondition1"/>
            <xs:element name="PrtctCardData" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvtCardData" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MndtrySctyTrlr" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
            <xs:enumeration value="SH31"/>
            <xs:enumeration value="SH32"/>
            <xs:enumeration value="SH33"/>
            <xs:enumeration value="SH35"/>
            <xs:enumeration value="SHK1"/>
            <xs:enumeration value="SHK2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
            <xs:enumeration value="CMA2"/>
            <xs:enumeration value="CM31"/>
            <xs:enumeration value="CM32"/>
            <xs:enumeration value="CM33"/>
            <xs:enumeration value="MCS3"/>
            <xs:enumeration value="CCA1"/>
            <xs:enumeration value="CCA2"/>
            <xs:enumeration value="CCA3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm19Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERS2"/>
            <xs:enumeration value="ERS1"/>
            <xs:enumeration value="RPSS"/>
            <xs:enumeration value="ECC5"/>
            <xs:enumeration value="ECC1"/>
            <xs:enumeration value="ECC4"/>
            <xs:enumeration value="ECC2"/>
            <xs:enumeration value="ECC3"/>
            <xs:enumeration value="ERS3"/>
            <xs:enumeration value="ECP2"/>
            <xs:enumeration value="ECP3"/>
            <xs:enumeration value="ECP5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm24Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA2"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
            <xs:enumeration value="DA12"/>
            <xs:enumeration value="DA19"/>
            <xs:enumeration value="DA25"/>
            <xs:enumeration value="N108"/>
            <xs:enumeration value="EA5R"/>
            <xs:enumeration value="EA9R"/>
            <xs:enumeration value="EA2R"/>
            <xs:enumeration value="E3DR"/>
            <xs:enumeration value="E36C"/>
            <xs:enumeration value="E36R"/>
            <xs:enumeration value="SD5C"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="UKA3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification18">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification19">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification20">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm19Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification21">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm16Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification22">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm17Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification29">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm24Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ApplicationParameters9">
        <xs:sequence>
            <xs:element name="ActnTp" type="TerminalManagementAction3Code"/>
            <xs:element name="ApplId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ParamFrmtIdr" type="Max8Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Params" type="Max100KBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdParams" type="ContentInformationType22"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient8Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification22"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BatchTransactionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DTCT"/>
            <xs:enumeration value="CNCL"/>
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="DCLN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancellationProcess2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADVC"/>
            <xs:enumeration value="NALW"/>
            <xs:enumeration value="REQU"/>
            <xs:enumeration value="APPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClockSynchronisation3">
        <xs:sequence>
            <xs:element name="POITmZone" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SynctnSvr" type="NetworkParameters7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dely" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType21">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcdData" type="AuthenticatedData6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgndData" type="SignedData5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType22">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType23">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcdData" type="AuthenticatedData6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgndData" type="SignedData5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstdData" type="DigestedData5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CryptographicKey14">
        <xs:sequence>
            <xs:element name="Id" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyPrfl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmNb" type="Max35Text"/>
            <xs:element name="Vrsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CryptographicKeyType3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Fctn" type="KeyUsage1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActvtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DeactvtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyVal" type="ContentInformationType23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyChckVal" type="Max35Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlMgmtInf" type="GenericInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CryptographicKeyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AES2"/>
            <xs:enumeration value="EDE3"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="AES9"/>
            <xs:enumeration value="AES5"/>
            <xs:enumeration value="EDE4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AQPR"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="MTMG"/>
            <xs:enumeration value="MRPR"/>
            <xs:enumeration value="MTOR"/>
            <xs:enumeration value="SCPR"/>
            <xs:enumeration value="SWPK"/>
            <xs:enumeration value="TRPR"/>
            <xs:enumeration value="CRTF"/>
            <xs:enumeration value="TMSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AQPR"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="TXCP"/>
            <xs:enumeration value="AKCP"/>
            <xs:enumeration value="DLGT"/>
            <xs:enumeration value="MGTP"/>
            <xs:enumeration value="MRPR"/>
            <xs:enumeration value="SCPR"/>
            <xs:enumeration value="SWPK"/>
            <xs:enumeration value="STRP"/>
            <xs:enumeration value="TRPR"/>
            <xs:enumeration value="VDPR"/>
            <xs:enumeration value="PARA"/>
            <xs:enumeration value="TMSP"/>
            <xs:enumeration value="CRTF"/>
            <xs:enumeration value="LOGF"/>
            <xs:enumeration value="CMRQ"/>
            <xs:enumeration value="MDFL"/>
            <xs:enumeration value="SOFT"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="RPFL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="APSB"/>
            <xs:enumeration value="KDWL"/>
            <xs:enumeration value="KMGT"/>
            <xs:enumeration value="RPRT"/>
            <xs:enumeration value="SWPK"/>
            <xs:enumeration value="TMSP"/>
            <xs:enumeration value="MRPR"/>
            <xs:enumeration value="TRPR"/>
            <xs:enumeration value="CRTF"/>
            <xs:enumeration value="SACP"/>
            <xs:enumeration value="SAPR"/>
            <xs:enumeration value="LOGF"/>
            <xs:enumeration value="RPFL"/>
            <xs:enumeration value="CONF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DataSetIdentification8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max256Text"/>
            <xs:element name="Tp" type="DataSetCategory14Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DigestedData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification21"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="Dgst" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MntncDlgtnReq" type="MaintenanceDelegationRequestV06"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent6">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CnttNcrptnAlgo" type="AlgorithmIdentification29"/>
            <xs:element name="NcrptdData" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
            <xs:enumeration value="I238"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgtrInf" type="OriginatorInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorAction4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ActnRslt" type="TerminalManagementActionResult4Code"/>
            <xs:element name="ActnToPrc" type="TerminalManagementErrorAction2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeConfiguration8">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="XchgPlcy" type="ExchangePolicy2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTry" type="ProcessRetry2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmCond" type="ProcessTiming4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExchangePolicy2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ONDM"/>
            <xs:enumeration value="IMMD"/>
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="AGRP"/>
            <xs:enumeration value="NBLT"/>
            <xs:enumeration value="TTLT"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="BLCK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExternallyDefinedData1">
        <xs:sequence>
            <xs:element name="Id" type="Max1025Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max100KBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdVal" type="ContentInformationType23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max1025Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FinancialCapture1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="BTCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification176">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType33Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType33Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification177">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType33Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType33Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmotAccs" type="NetworkParameters7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Glctn" type="Geolocation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericInformation1">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Geolocation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="GeogcCordints" type="GeolocationGeographicCoordinates1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UTMCordints" type="GeolocationUTMCoordinates1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeolocationGeographicCoordinates1">
        <xs:sequence>
            <xs:element name="Lat" type="Max35Text"/>
            <xs:element name="Long" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeolocationUTMCoordinates1">
        <xs:sequence>
            <xs:element name="UTMZone" type="Max35Text"/>
            <xs:element name="UTMEstwrd" type="Max35Text"/>
            <xs:element name="UTMNrthwrd" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HostCommunicationParameter6">
        <xs:sequence>
            <xs:element name="ActnTp" type="TerminalManagementAction3Code"/>
            <xs:element name="HstId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="NetworkParameters7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Key" type="KEKIdentifier5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtwkSvcPrvdr" type="NetworkParameters7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhysIntrfc" type="PhysicalInterfaceParameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification29"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier5">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CryptographicKeyType3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Fctn" type="KeyUsage1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification19"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="KeyUsage1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENCR"/>
            <xs:enumeration value="DCPT"/>
            <xs:enumeration value="DENC"/>
            <xs:enumeration value="DDEC"/>
            <xs:enumeration value="TRNI"/>
            <xs:enumeration value="TRNX"/>
            <xs:enumeration value="MACG"/>
            <xs:enumeration value="MACV"/>
            <xs:enumeration value="SIGG"/>
            <xs:enumeration value="SUGV"/>
            <xs:enumeration value="PINE"/>
            <xs:enumeration value="PIND"/>
            <xs:enumeration value="PINV"/>
            <xs:enumeration value="KEYG"/>
            <xs:enumeration value="KEYI"/>
            <xs:enumeration value="KEYX"/>
            <xs:enumeration value="KEYD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LocalDateTime1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ToDtTm" type="ISODateTime"/>
            <xs:element name="UTCOffset" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MaintenanceDelegateAction5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrdcActn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMRmotAccs" type="NetworkParameters7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSPrtcol" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSPrtcolVrsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DataSetId" type="DataSetIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTry" type="ProcessRetry2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="Max3000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Actn" type="TMSAction8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MaintenanceDelegation10">
        <xs:sequence>
            <xs:element name="DlgtnTp" type="TerminalManagementAction3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MntncSvc" type="DataSetCategory15Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlDlgtn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="POISubset" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlgtdActn" type="MaintenanceDelegateAction5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlgtnScpId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlgtnScpDef" type="Max3000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max10KBinary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="POIIdAssoctn" type="MaintenanceIdentificationAssociation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SmmtrcKey" type="KEKIdentifier5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ParamDataSet" type="AcceptorConfigurationDataSet1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MaintenanceDelegationRequest6">
        <xs:sequence>
            <xs:element name="TMId" type="GenericIdentification176"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrTMId" type="GenericIdentification176"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ReqdDlgtn" type="MaintenanceDelegation10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MaintenanceDelegationRequestV06">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Hdr" type="TMSHeader1"/>
            <xs:element name="MntncDlgtnReq" type="MaintenanceDelegationRequest6"/>
            <xs:element name="SctyTrlr" type="ContentInformationType21"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MaintenanceIdentificationAssociation1">
        <xs:sequence>
            <xs:element name="MstrTMId" type="Max35Text"/>
            <xs:element name="TMId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max10000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1025Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1025"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="3000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MerchantConfigurationParameters5">
        <xs:sequence>
            <xs:element name="ActnTp" type="TerminalManagementAction3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ParamFrmtIdr" type="Max8Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="NetworkParameters8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrParams" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MessageFunction40Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAUQ"/>
            <xs:enumeration value="CCAQ"/>
            <xs:enumeration value="CMPV"/>
            <xs:enumeration value="DGNP"/>
            <xs:enumeration value="RCLQ"/>
            <xs:enumeration value="CCAV"/>
            <xs:enumeration value="BTCH"/>
            <xs:enumeration value="FRVA"/>
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="FCMV"/>
            <xs:enumeration value="DCCQ"/>
            <xs:enumeration value="RVRA"/>
            <xs:enumeration value="DCAV"/>
            <xs:enumeration value="TRNA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageItemCondition1">
        <xs:sequence>
            <xs:element name="ItmId" type="Max140Text"/>
            <xs:element name="Cond" type="MessageItemCondition1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Val" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MessageItemCondition1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MNDT"/>
            <xs:enumeration value="CFVL"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="ALWV"/>
            <xs:enumeration value="IFAV"/>
            <xs:enumeration value="COPY"/>
            <xs:enumeration value="UNSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min3Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NetworkParameters7">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Adr" type="NetworkParameters9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AccsCd" type="Max35Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCert" type="Max10KBinary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCertIdr" type="Max140Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClntCert" type="Max10KBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyPrfl" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetworkParameters8">
        <xs:sequence>
            <xs:element name="Tp" type="NetworkType2Code"/>
            <xs:element name="Accs" type="NetworkParameters7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetworkParameters9">
        <xs:sequence>
            <xs:element name="NtwkTp" type="NetworkType1Code"/>
            <xs:element name="AdrVal" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NetworkType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IPNW"/>
            <xs:enumeration value="PSTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NetworkType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SCK5"/>
            <xs:enumeration value="SCK4"/>
            <xs:enumeration value="HTTP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Organisation26">
        <xs:sequence>
            <xs:element name="CmonNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max140Text"/>
            <xs:element name="CtryCd" type="ISO3NumericCountryCode"/>
            <xs:element name="MrchntCtgyCd" type="Min3Max4Text"/>
            <xs:element name="RegdIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginatorInformation1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="POICommunicationType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLTH"/>
            <xs:enumeration value="ETHR"/>
            <xs:enumeration value="GPRS"/>
            <xs:enumeration value="GSMF"/>
            <xs:enumeration value="PSTN"/>
            <xs:enumeration value="RS23"/>
            <xs:enumeration value="USBD"/>
            <xs:enumeration value="USBH"/>
            <xs:enumeration value="WIFI"/>
            <xs:enumeration value="WT2G"/>
            <xs:enumeration value="WT3G"/>
            <xs:enumeration value="WT4G"/>
            <xs:enumeration value="WT5G"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PackageType1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PackgId" type="GenericIdentification176"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PackgLngth" type="PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffsetStart" type="PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffsetEnd" type="PositiveNumber"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PackgBlck" type="ExternallyDefinedData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm16Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter11">
        <xs:sequence>
            <xs:element name="DgstAlgo" type="Algorithm16Code"/>
            <xs:element name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
            <xs:element name="SaltLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrlrFld" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm16Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PGRP"/>
            <xs:enumeration value="PSYS"/>
            <xs:enumeration value="PSNG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType33Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="MTMG"/>
            <xs:enumeration value="TAXH"/>
            <xs:enumeration value="TMGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentTerminalParameters7">
        <xs:sequence>
            <xs:element name="ActnTp" type="TerminalManagementAction3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VndrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ParamFrmtIdr" type="Max8Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClckSynctn" type="ClockSynchronisation3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TmZoneLine" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclDtTm" type="LocalDateTime1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrParams" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PhysicalInterfaceParameter1">
        <xs:sequence>
            <xs:element name="IntrfcNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrfcTp" type="POICommunicationType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AccsCd" type="Max35Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyPrfl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlParams" type="Max2KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessRetry2">
        <xs:sequence>
            <xs:element name="Dely" type="Max9NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxNb" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessTiming3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="WtgTm" type="Max9NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StartTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="Max9NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxNb" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessTiming4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StartTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="Max9NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient8Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport5"/>
            <xs:element name="KEK" type="KEK7"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SaleToPOIProtocolParameter1">
        <xs:sequence>
            <xs:element name="ActnTp" type="TerminalManagementAction3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntId" type="Organisation26"/>
            <xs:element name="Vrsn" type="Max256Text"/>
            <xs:element name="HstId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntPOIId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityParameters12">
        <xs:sequence>
            <xs:element name="ActnTp" type="TerminalManagementAction3Code"/>
            <xs:element name="Vrsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POIChllng" type="Max140Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMChllng" type="Max140Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctyElmt" type="CryptographicKey14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DgstAlgo" type="AlgorithmIdentification21"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max5000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sgnr" type="Signer4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Signer4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgnrId" type="Recipient5Choice"/>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification21"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SgndAttrbts" type="GenericInformation1"/>
            <xs:element name="SgntrAlgo" type="AlgorithmIdentification20"/>
            <xs:element name="Sgntr" type="Max3000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TMSAction8">
        <xs:sequence>
            <xs:element name="Tp" type="TerminalManagementAction4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmotAccs" type="NetworkParameters7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Key" type="KEKIdentifier5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermnlMgrId" type="GenericIdentification176"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSPrtcol" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMSPrtcolVrsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DataSetId" type="DataSetIdentification8"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CmpntTp" type="DataSetCategory14Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlgtnScpId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlgtnScpDef" type="Max3000Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlgtnProof" type="Max5000Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdDlgtnProof" type="ContentInformationType23"/>
            <xs:element name="Trggr" type="TerminalManagementActionTrigger1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlPrc" type="TerminalManagementAdditionalProcess1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTry" type="ProcessRetry2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmCond" type="ProcessTiming3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMChllng" type="Max140Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="KeyNcphrmntCert" type="Max10KBinary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ErrActn" type="ErrorAction4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="Max3000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgItm" type="MessageItemCondition1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TMSHeader1">
        <xs:sequence>
            <xs:element name="DwnldTrf" type="TrueFalseIndicator"/>
            <xs:element name="FrmtVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Number"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification176"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification177"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TMSProtocolParameters5">
        <xs:sequence>
            <xs:element name="ActnTp" type="TerminalManagementAction3Code"/>
            <xs:element name="TermnlMgrId" type="GenericIdentification176"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolVrsn" type="Max8Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MntncSvc" type="DataSetCategory10Code"/>
            <xs:element name="Vrsn" type="Max256Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ApplId" type="Max35Text"/>
            <xs:element name="HstId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POIId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FileTrf" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgItm" type="MessageItemCondition1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TerminalManagementAction3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CREA"/>
            <xs:enumeration value="DELT"/>
            <xs:enumeration value="UPDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TerminalManagementAction4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DCTV"/>
            <xs:enumeration value="DELT"/>
            <xs:enumeration value="DWNL"/>
            <xs:enumeration value="INST"/>
            <xs:enumeration value="RSTR"/>
            <xs:enumeration value="UPLD"/>
            <xs:enumeration value="UPDT"/>
            <xs:enumeration value="BIND"/>
            <xs:enumeration value="RBND"/>
            <xs:enumeration value="UBND"/>
            <xs:enumeration value="ACTV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TerminalManagementActionResult4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCD"/>
            <xs:enumeration value="CNTE"/>
            <xs:enumeration value="FMTE"/>
            <xs:enumeration value="INVC"/>
            <xs:enumeration value="LENE"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="NSUP"/>
            <xs:enumeration value="SIGE"/>
            <xs:enumeration value="SUCC"/>
            <xs:enumeration value="SYNE"/>
            <xs:enumeration value="TIMO"/>
            <xs:enumeration value="UKDT"/>
            <xs:enumeration value="UKRF"/>
            <xs:enumeration value="INDP"/>
            <xs:enumeration value="IDMP"/>
            <xs:enumeration value="DPRU"/>
            <xs:enumeration value="AERR"/>
            <xs:enumeration value="CMER"/>
            <xs:enumeration value="ULER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TerminalManagementActionTrigger1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATE"/>
            <xs:enumeration value="HOST"/>
            <xs:enumeration value="MANU"/>
            <xs:enumeration value="SALE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TerminalManagementAdditionalProcess1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MANC"/>
            <xs:enumeration value="RCNC"/>
            <xs:enumeration value="RSRT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TerminalManagementErrorAction2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SDSR"/>
            <xs:enumeration value="STOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TerminalPackageType1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="POICmpntId" type="PointOfInteractionComponentIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Packg" type="PackageType1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability8">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification177"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
