assets/xsd/seev.036.002.10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2019 Feb 07 17:09:09, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.036.002.10" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.036.002.10">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account9Choice">
        <xs:choice>
            <xs:element name="CshAcct" type="CashAccountIdentification6Choice"/>
            <xs:element name="ChrgsAcct" type="CashAccountIdentification6Choice"/>
            <xs:element name="TaxAcct" type="CashAccountIdentification6Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountAndBalance45">
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification136Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat32Choice"/>
            <xs:element name="Bal" type="CorporateActionBalanceDetails35"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalBusinessProcess7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLAI"/>
            <xs:enumeration value="TAXR"/>
            <xs:enumeration value="ACLA"/>
            <xs:enumeration value="ATXF"/>
            <xs:enumeration value="CNTR"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="NAMC"/>
            <xs:enumeration value="NPLE"/>
            <xs:enumeration value="SCHM"/>
            <xs:enumeration value="PPUT"/>
            <xs:enumeration value="PPRE"/>
            <xs:enumeration value="FPRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalBusinessProcessFormat14Choice">
        <xs:choice>
            <xs:element name="Cd" type="AdditionalBusinessProcess7Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AlternatePartyIdentification9">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType44Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndQuantityRatio5">
        <xs:sequence>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Qty" type="RestrictedFINDecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndRateStatus2">
        <xs:sequence>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="RateSts" type="RateStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPrice4">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType2Code"/>
            <xs:element name="PricVal" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPrice5">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerAmount3">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerFinancialInstrumentQuantity7">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="FinInstrmQty" type="FinancialInstrumentQuantity15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AmountPriceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PLOT"/>
            <xs:enumeration value="PREM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AmountPriceType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountToAmountRatio3">
        <xs:sequence>
            <xs:element name="Amt1" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Amt2" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceFormat10Choice">
        <xs:choice>
            <xs:element name="Bal" type="SignedQuantityFormat8"/>
            <xs:element name="ElgblBal" type="SignedQuantityFormat9"/>
            <xs:element name="NotElgblBal" type="SignedQuantityFormat9"/>
            <xs:element name="FullPrdUnits" type="SignedQuantityFormat9"/>
            <xs:element name="PartWayPrdUnits" type="SignedQuantityFormat9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BalanceFormat7Choice">
        <xs:choice>
            <xs:element name="Bal" type="SignedQuantityFormat8"/>
            <xs:element name="ElgblBal" type="SignedQuantityFormat9"/>
            <xs:element name="NotElgblBal" type="SignedQuantityFormat9"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification6Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="RestrictedFINX2Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashOption67">
        <xs:sequence>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctlPmtInd" type="Payment1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrOfferrTaxbltyInd" type="IssuerOfferorTaxabilityIndicator1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmTp" type="GenericIdentification47"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="XmptnTp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfIncmSrc" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="Account9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshPties" type="CashParties37"/>
            <xs:element name="AmtDtls" type="CorporateActionAmounts51"/>
            <xs:element name="DtDtls" type="CorporateActionDate65"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxVchrDtls" type="TaxVoucher5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="RateDetails33"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="PriceDetails24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashParties37">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="PartyIdentificationAndAccount174"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="PartyIdentificationAndAccount175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClmCtrPty" type="PartyIdentificationAndAccount174"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateAction47">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate66"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtStag" type="CorporateActionEventStageFormat15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlBizPrcInd" type="AdditionalBusinessProcessFormat14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtryTp" type="LotteryTypeFormat5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionAmounts51">
        <xs:sequence>
            <xs:element name="PstngAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssCshAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetCshAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlctnFees" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShr" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CptlGn" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClmAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndmntyAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ManfctrdDvddPmtAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RinvstmtAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullyFrnkdAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UfrnkdAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndryOrOthrAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxFreeAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxDfrrdAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValAddedTaxAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRclmAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCdtAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTaxAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTaxAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLvlTaxAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmpAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgBrkrAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PngAgtComssnAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclBrkrComssnAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryFeesAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShppgFeesAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAmtBrghtFwd" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAmtCrrdFwd" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlDvddPyblAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlTaxAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxArrearsAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrncplOrCrps" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedPrmAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPrtn" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchgTax" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EUTaxRtntnAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EqulstnAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FATCATaxAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NRATaxAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BckUpWhldgTaxAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnIncmAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTax" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmdAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CndtFrgnIncmAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmdDvddAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmdFndAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmdIntrstAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmdRyltsAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdjstdSbcptAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RfnddSbcptAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionBalanceDetails35">
        <xs:sequence>
            <xs:element name="ConfdBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlElgblBal" type="TotalEligibleBalanceFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrrwdBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollInBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollOutBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLnBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgDlvryBal" type="BalanceFormat10Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgRctBal" type="BalanceFormat10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OutForRegnBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmPosBal" type="BalanceFormat10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtPosBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDtPosBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InTrnsShipmntBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegdBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AfctdBal" type="BalanceFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UafctdBal" type="BalanceFormat7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate65">
        <xs:sequence>
            <xs:element name="PstngDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXRateFxgDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate66">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RcrdDt" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExDvddDt" type="DateFormat49Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate68">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnDdln" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptCostDbtDt" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktDdln" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CoverXprtnDt" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctDt" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgDt" type="DateFormat49Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference4">
        <xs:sequence>
            <xs:element name="EvtId" type="CorporateActionEventReference4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition10Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference4Choice">
        <xs:choice>
            <xs:element name="LkdOffclCorpActnEvtId" type="RestrictedFINXMax16Text"/>
            <xs:element name="LkdCorpActnId" type="RestrictedFINXMax16Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventStage4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="RESC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventStageFormat15Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventStage4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType25Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="DRCA"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NOOF"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="ACCU"/>
            <xs:enumeration value="MTNG"/>
            <xs:enumeration value="TNDP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType78Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType25Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionGeneralInformation130">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssActnNb" type="RestrictedFINXMax16Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType78Choice"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmdtSctiesDstrbtnTp" type="IntermediateSecuritiesDistributionTypeFormat17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnlQty" type="FinancialInstrumentQuantity15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionMovementConfirmation002V10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Pgntn" type="Pagination1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnId" type="DocumentIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MvmntPrlimryAdvcId" type="DocumentIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="DocumentIdentification17"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrDocId" type="DocumentIdentification38"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtsLkg" type="CorporateActionEventReference4"/>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation130"/>
            <xs:element name="AcctDtls" type="AccountAndBalance45"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnDtls" type="CorporateAction47"/>
            <xs:element name="CorpActnConfDtls" type="CorporateActionOption159"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative35"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IssrAgt" type="PartyIdentification137Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PngAgt" type="PartyIdentification137Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubPngAgt" type="PartyIdentification137Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative35">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlTxt" type="RestrictedFINXMax350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NrrtvVrsn" type="RestrictedFINXMax350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PtyCtctNrrtv" type="RestrictedFINXMax350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxtnConds" type="RestrictedFINXMax350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption159">
        <xs:sequence>
            <xs:element name="OptnNb" type="OptionNumber1Choice"/>
            <xs:element name="OptnTp" type="CorporateActionOption26Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnFeatrs" type="OptionFeaturesFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnDspstn" type="FractionDispositionType30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyOptn" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate68"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrdDtls" type="CorporateActionPeriod13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="CorporateActionRate92"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice63"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="MarketIdentification90"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesMvmntDtls" type="SecuritiesOption74"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshMvmntDtls" type="CashOption67"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption26Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOption8Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MKDW"/>
            <xs:enumeration value="MKUP"/>
            <xs:enumeration value="MNGT"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="PROX"/>
            <xs:enumeration value="QINV"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="SPLI"/>
            <xs:enumeration value="PRUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionPeriod13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PricClctnPrd" type="Period11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnPrd" type="Period11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ParllTradgPrd" type="Period11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPrice63">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShrPric" type="PriceFormat52Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OverSbcptDpstPric" type="PriceFormat52Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPrice64">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShrPric" type="PriceFormat52Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndctvOrMktPric" type="IndicativeOrMarketPrice9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshValForTax" type="AmountPrice4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricPdPerPdct" type="PriceFormat55Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricRcvdPerPdct" type="PriceFormat56Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionRate92">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GrssDvddRate" type="GrossDividendRateFormat31Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetDvddRate" type="NetDividendRateFormat33Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxFctr" type="RateAndAmountFormat43Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrstRateUsdForPmt" type="InterestRateUsedForPaymentFormat9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxAllwdOvrsbcptRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrratnRate" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WhldgTaxRate" type="RateAndAmountFormat45Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ScndLvlTax" type="RateAndAmountFormat45Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTax" type="RateAndAmountFormat43Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxblIncmPerDvddShr" type="RateTypeAndAmountAndStatus33"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionRate93">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForSbcbdRsltntScties" type="RatioFormat21Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForExstgScties" type="RatioFormat21Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewToOd" type="RatioFormat22Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsFees" type="RateAndAmountFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmp" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AplblRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCdtRate" type="RateFormat23Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinTxTaxRate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode22Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType8Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat45Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="NotSpcfdDt" type="DateType8Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat49Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCd" type="DateCode22Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeemedRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEDI"/>
            <xs:enumeration value="DEFP"/>
            <xs:enumeration value="DEIT"/>
            <xs:enumeration value="DERY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeemedRateType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="DeemedRateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DividendRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TXBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnMvmntConf" type="CorporateActionMovementConfirmation002V10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification17">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification37">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition10Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocNb" type="DocumentNumber6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition10Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification4Choice">
        <xs:choice>
            <xs:element name="AcctSvcrDocId" type="RestrictedFINXMax16Text"/>
            <xs:element name="AcctOwnrDocId" type="RestrictedFINXMax16Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DocumentNumber6Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification86"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber"/>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms27">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="RestrictedFINActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FractionDispositionType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYU"/>
            <xs:enumeration value="CINL"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="RDDN"/>
            <xs:enumeration value="STAN"/>
            <xs:enumeration value="RDUP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FractionDispositionType30Choice">
        <xs:choice>
            <xs:element name="Cd" type="FractionDispositionType11Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification84">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification85">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification86">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax30Text"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GrossDividendRateFormat31Choice">
        <xs:choice>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="AmtAndRateSts" type="AmountAndRateStatus2"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus42"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GrossDividendRateFormat32Choice">
        <xs:choice>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="AmtAndRateSts" type="AmountAndRateStatus2"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus44"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="GrossDividendRateType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LTCG"/>
            <xs:enumeration value="REES"/>
            <xs:enumeration value="STCG"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
            <xs:enumeration value="CDFI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GrossDividendRateType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="FUPU"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LTCG"/>
            <xs:enumeration value="PAPU"/>
            <xs:enumeration value="STCG"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
            <xs:enumeration value="REES"/>
            <xs:enumeration value="CDFI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="RestrictedFINExact2Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType44Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IndicativeOrMarketPrice9Choice">
        <xs:choice>
            <xs:element name="IndctvPric" type="PriceFormat52Choice"/>
            <xs:element name="MktPric" type="PriceFormat52Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRateUsedForPaymentFormat9Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus32"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IntermediateSecuritiesDistributionTypeFormat17Choice">
        <xs:choice>
            <xs:element name="Cd" type="IntermediateSecurityDistributionType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="IntermediateSecurityDistributionType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXOF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerOfferorTaxabilityIndicator1Choice">
        <xs:choice>
            <xs:element name="Cd" type="IssuerTaxability2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="IssuerTaxability2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TXBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LotteryType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORIG"/>
            <xs:enumeration value="SUPP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LotteryTypeFormat5Choice">
        <xs:choice>
            <xs:element name="Cd" type="LotteryType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification2Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="RestrictedFINXMax30Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification90">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification2Choice"/>
            <xs:element name="Tp" type="MarketType16Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketType16Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress12">
        <xs:sequence>
            <xs:element name="Nm" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetDividendRateFormat33Choice">
        <xs:choice>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="AmtAndRateSts" type="AmountAndRateStatus2"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus43"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="NetDividendRateFormat34Choice">
        <xs:choice>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="AmtAndRateSts" type="AmountAndRateStatus2"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus45"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="NetDividendRateType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="REES"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
            <xs:enumeration value="CDFI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NetDividendRateType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
            <xs:enumeration value="FUPU"/>
            <xs:enumeration value="PAPU"/>
            <xs:enumeration value="REES"/>
            <xs:enumeration value="CDFI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NewSecuritiesIssuanceType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEFE"/>
            <xs:enumeration value="NDEF"/>
            <xs:enumeration value="REFU"/>
            <xs:enumeration value="NREF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionFeatures6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COND"/>
            <xs:enumeration value="MAXC"/>
            <xs:enumeration value="MAXS"/>
            <xs:enumeration value="OPLF"/>
            <xs:enumeration value="PROR"/>
            <xs:enumeration value="VVPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionFeaturesFormat19Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionFeatures6Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OptionNumber1Choice">
        <xs:choice>
            <xs:element name="Nb" type="Exact3NumericText"/>
            <xs:element name="Cd" type="OptionNumber1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionNumber1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNSO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalAndCurrentQuantities4">
        <xs:sequence>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities7">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification137Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification145Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification147Choice">
        <xs:choice>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress12"/>
            <xs:element name="PrtryId" type="GenericIdentification84"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification155">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification145Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount173">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification137Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount174">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification137Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount175">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification147Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Payment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="CONT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PercentagePrice1">
        <xs:sequence>
            <xs:element name="PctgPricTp" type="PriceRateType3Code"/>
            <xs:element name="PricVal" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period11">
        <xs:sequence>
            <xs:element name="StartDt" type="DateFormat45Choice"/>
            <xs:element name="EndDt" type="DateFormat45Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceDetails24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricPdPerPdct" type="PriceFormat55Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricRcvdPerPdct" type="PriceFormat56Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat52Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceFormat55Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice5"/>
            <xs:element name="IndxPts" type="RestrictedFINDecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceFormat56Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice5"/>
            <xs:element name="AmtPricPerFinInstrmQty" type="AmountPricePerFinancialInstrumentQuantity7"/>
            <xs:element name="AmtPricPerAmt" type="AmountPricePerAmount3"/>
            <xs:element name="IndxPts" type="RestrictedFINDecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceRateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="YIEL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingPosition10Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessingPosition3Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProprietaryQuantity10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="RestrictedFINDecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity9">
        <xs:sequence>
            <xs:element name="Qty" type="RestrictedFINDecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity10Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity21Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity22Choice">
        <xs:choice>
            <xs:element name="QtyChc" type="Quantity23Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity23Choice">
        <xs:choice>
            <xs:element name="OrgnlAndCurFaceAmt" type="OriginalAndCurrentQuantities7"/>
            <xs:element name="SgndQty" type="SignedQuantityFormat9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="QuantityToQuantityRatio2">
        <xs:sequence>
            <xs:element name="Qty1" type="RestrictedFINDecimalNumber"/>
            <xs:element name="Qty2" type="RestrictedFINDecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat43Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat45Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="RateTpAndRate" type="RateTypeAndPercentageRate9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat54Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus54"/>
            <xs:element name="RateTpAndRate" type="RateTypeAndPercentageRate11"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateDetails33">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTax" type="RateAndAmountFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsFees" type="RateAndAmountFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmp" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GrssDvddRate" type="GrossDividendRateFormat32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlySlctnFeeRate" type="SolicitationFeeRateFormat9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ThrdPtyIncntivRate" type="RateAndAmountFormat43Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrstRateUsdForPmt" type="InterestRateUsedForPaymentFormat9Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetDvddRate" type="NetDividendRateFormat34Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AplblRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlctnFeeRate" type="SolicitationFeeRateFormat9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCdtRate" type="RateFormat23Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WhldgTaxRate" type="RateAndAmountFormat45Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ScndLvlTax" type="RateAndAmountFormat45Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnIncm" type="RateAndAmountFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnPrfts" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRclmRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EqulstnRate" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DmdRate" type="RateAndAmountFormat54Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateFormat23Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RateStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="INDI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateStatus4Choice">
        <xs:choice>
            <xs:element name="Cd" type="RateStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType45Choice">
        <xs:choice>
            <xs:element name="Cd" type="RateType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType46Choice">
        <xs:choice>
            <xs:element name="Cd" type="WithholdingTaxRateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType47Choice">
        <xs:choice>
            <xs:element name="Cd" type="DividendRateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType72Choice">
        <xs:choice>
            <xs:element name="Cd" type="GrossDividendRateType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType73Choice">
        <xs:choice>
            <xs:element name="Cd" type="NetDividendRateType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType74Choice">
        <xs:choice>
            <xs:element name="Cd" type="GrossDividendRateType5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType75Choice">
        <xs:choice>
            <xs:element name="Cd" type="NetDividendRateType5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RateType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SCHD"/>
            <xs:enumeration value="USCD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateTypeAndAmountAndStatus32">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType45Choice"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus33">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType47Choice"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus42">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType72Choice"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus43">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType73Choice"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus44">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType74Choice"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus45">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType75Choice"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus54">
        <xs:sequence>
            <xs:element name="RateTp" type="DeemedRateType2Choice"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndPercentageRate11">
        <xs:sequence>
            <xs:element name="RateTp" type="DeemedRateType2Choice"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndPercentageRate9">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType46Choice"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RatioFormat21Choice">
        <xs:choice>
            <xs:element name="QtyToQty" type="QuantityToQuantityRatio2"/>
            <xs:element name="AmtToAmt" type="AmountToAmountRatio3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RatioFormat22Choice">
        <xs:choice>
            <xs:element name="QtyToQty" type="QuantityToQuantityRatio2"/>
            <xs:element name="AmtToAmt" type="AmountToAmountRatio3"/>
            <xs:element name="AmtToQty" type="AmountAndQuantityRatio5"/>
            <xs:element name="QtyToAmt" type="AmountAndQuantityRatio5"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINX2Max34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax30Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat32Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText9"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification85"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceFormat39Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText15"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification85"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndIdentification1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText15">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText9">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesOption74">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification20"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TempFinInstrmInd" type="TemporaryFinancialInstrumentIndicator4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewSctiesIssncInd" type="NewSecuritiesIssuanceType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrOfferrTaxbltyInd" type="IssuerOfferorTaxabilityIndicator1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmTp" type="GenericIdentification47"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="XmptnTp" type="GenericIdentification47"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfIncmSrc" type="CountryCode"/>
            <xs:element name="PstngQty" type="Quantity10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat39Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnDspstn" type="FractionDispositionType30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyOptn" type="ActiveCurrencyCode"/>
            <xs:element name="DtDtls" type="SecurityDate17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateDtls" type="CorporateActionRate93"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice64"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties80"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties80"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityDate17">
        <xs:sequence>
            <xs:element name="PstngDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AvlblDt" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrpssDt" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddRnkgDt" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat49Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateFormat49Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties80">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification155"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount173"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount173"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount173"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat8">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="QtyChc" type="Quantity21Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedQuantityFormat9">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SolicitationFeeRateFormat9Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="AmtToQty" type="AmountAndQuantityRatio5"/>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxVoucher5">
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrgnDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrgnSttlmDt" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TemporaryFinancialInstrumentIndicator4Choice">
        <xs:choice>
            <xs:element name="TempInd" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TotalEligibleBalanceFormat9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="Quantity22Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullPrdUnits" type="SignedQuantityFormat9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PartWayPrdUnits" type="SignedQuantityFormat9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WithholdingTaxRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BWIT"/>
            <xs:enumeration value="FTCA"/>
            <xs:enumeration value="NRAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
