assets/xsd/seev.036.001.11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Jan 31 15:36:40, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.036.001.11" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.036.001.11">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account8Choice">
        <xs:choice>
            <xs:element name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element name="ChrgsAcct" type="CashAccountIdentification5Choice"/>
            <xs:element name="TaxAcct" type="CashAccountIdentification5Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountAndBalance43">
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification127Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat28Choice"/>
            <xs:element name="Bal" type="CorporateActionBalanceDetails31"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalBusinessProcess7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLAI"/>
            <xs:enumeration value="TAXR"/>
            <xs:enumeration value="ACLA"/>
            <xs:enumeration value="ATXF"/>
            <xs:enumeration value="CNTR"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="NAMC"/>
            <xs:enumeration value="NPLE"/>
            <xs:enumeration value="SCHM"/>
            <xs:enumeration value="PPUT"/>
            <xs:enumeration value="PPRE"/>
            <xs:enumeration value="FPRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalBusinessProcessFormat11Choice">
        <xs:choice>
            <xs:element name="Cd" type="AdditionalBusinessProcess7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification7">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType42Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndQuantityRatio4">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Qty" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndRateStatus1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="RateSts" type="RateStatus1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPrice2">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType2Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPrice3">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerAmount2">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountPricePerFinancialInstrumentQuantity6">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="FinInstrmQty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AmountPriceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PLOT"/>
            <xs:enumeration value="PREM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AmountPriceType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountToAmountRatio2">
        <xs:sequence>
            <xs:element name="Amt1" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="Amt2" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceFormat5Choice">
        <xs:choice>
            <xs:element name="Bal" type="SignedQuantityFormat7"/>
            <xs:element name="ElgblBal" type="SignedQuantityFormat6"/>
            <xs:element name="NotElgblBal" type="SignedQuantityFormat6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BalanceFormat6Choice">
        <xs:choice>
            <xs:element name="Bal" type="SignedQuantityFormat7"/>
            <xs:element name="ElgblBal" type="SignedQuantityFormat6"/>
            <xs:element name="NotElgblBal" type="SignedQuantityFormat6"/>
            <xs:element name="FullPrdUnits" type="SignedQuantityFormat6"/>
            <xs:element name="PartWayPrdUnits" type="SignedQuantityFormat6"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashOption70">
        <xs:sequence>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctlPmtInd" type="Payment1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrOfferrTaxbltyInd" type="IssuerOfferorTaxabilityIndicator1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmTp" type="GenericIdentification30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="XmptnTp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfIncmSrc" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="Account8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshPties" type="CashParties34"/>
            <xs:element name="AmtDtls" type="CorporateActionAmounts56"/>
            <xs:element name="DtDtls" type="CorporateActionDate65"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxVchrDtls" type="TaxVoucher4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="Rate35"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="PriceDetails23"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashParties34">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="PartyIdentificationAndAccount162"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="PartyIdentificationAndAccount172"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClmCtrPty" type="PartyIdentificationAndAccount162"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateAction44">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate59"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtStag" type="CorporateActionEventStageFormat14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlBizPrcInd" type="AdditionalBusinessProcessFormat11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LtryTp" type="LotteryTypeFormat4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionAmounts56">
        <xs:sequence>
            <xs:element name="PstngAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssCshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetCshAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlctnFees" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShr" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CptlGn" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktClmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndmntyAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ManfctrdDvddPmtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RinvstmtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullyFrnkdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UfrnkdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndryOrOthrAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxFreeAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxDfrrdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValAddedTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDtyAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRclmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCdtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLvlTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmpAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgBrkrAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PngAgtComssnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclBrkrComssnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryFeesAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShppgFeesAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAmtBrghtFwd" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAmtCrrdFwd" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlDvddPyblAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxArrearsAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrncplOrCrps" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedPrmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPrtn" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StockXchgTax" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EUTaxRtntnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EqulstnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FATCATaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NRATaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BckUpWhldgTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnIncmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTax" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrgnIncmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmdDvddAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmdFndAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmdIntrstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmdRyltsAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdjstdSbcptAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RfnddSbcptAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionBalanceDetails31">
        <xs:sequence>
            <xs:element name="ConfdBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlElgblBal" type="TotalEligibleBalanceFormat8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrrwdBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollInBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollOutBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLnBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgDlvryBal" type="BalanceFormat6Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgRctBal" type="BalanceFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OutForRegnBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmPosBal" type="BalanceFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtPosBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDtPosBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InTrnsShipmntBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegdBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AfctdBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UafctdBal" type="BalanceFormat5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate59">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RcrdDt" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExDvddDt" type="DateFormat43Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate60">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnDdln" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcptCostDbtDt" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktDdln" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CoverXprtnDt" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctDt" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgDt" type="DateFormat43Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDate65">
        <xs:sequence>
            <xs:element name="PstngDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXRateFxgDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference3">
        <xs:sequence>
            <xs:element name="EvtId" type="CorporateActionEventReference3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReference3Choice">
        <xs:choice>
            <xs:element name="LkdOffclCorpActnEvtId" type="Max35Text"/>
            <xs:element name="LkdCorpActnId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventStage4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="RESC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventStageFormat14Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventStage4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType30Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="DRCA"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NOOF"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="ACCU"/>
            <xs:enumeration value="MTNG"/>
            <xs:enumeration value="TNDP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType87Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType30Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionGeneralInformation142">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssActnNb" type="Max35Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType87Choice"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmdtSctiesDstrbtnTp" type="IntermediateSecuritiesDistributionTypeFormat16Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnlQty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionMovementConfirmationV11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Pgntn" type="Pagination1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnId" type="DocumentIdentification31"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MvmntPrlimryAdvcId" type="DocumentIdentification31"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="DocumentIdentification9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrDocId" type="DocumentIdentification32"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtsLkg" type="CorporateActionEventReference3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="TransactionIdentification1"/>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation142"/>
            <xs:element name="AcctDtls" type="AccountAndBalance43"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnDtls" type="CorporateAction44"/>
            <xs:element name="CorpActnConfDtls" type="CorporateActionOption162"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative31"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IssrAgt" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PngAgt" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubPngAgt" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative31">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlTxt" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NrrtvVrsn" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PtyCtctNrrtv" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxtnConds" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MKDW"/>
            <xs:enumeration value="MKUP"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="QINV"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="PRUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionOption162">
        <xs:sequence>
            <xs:element name="OptnNb" type="OptionNumber1Choice"/>
            <xs:element name="OptnTp" type="CorporateActionOption33Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnFeatrs" type="OptionFeaturesFormat18Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnDspstn" type="FractionDispositionType27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyOptn" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtDtls" type="CorporateActionDate60"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrdDtls" type="CorporateActionPeriod13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateAndAmtDtls" type="CorporateActionRate98"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice61"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="MarketIdentification84"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesMvmntDtls" type="SecuritiesOption70"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshMvmntDtls" type="CashOption70"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOption33Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOption12Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionPeriod13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PricClctnPrd" type="Period11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnPrd" type="Period11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ParllTradgPrd" type="Period11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPrice59">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShrPric" type="PriceFormat50Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndctvOrMktPric" type="IndicativeOrMarketPrice8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshValForTax" type="AmountPrice2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricPdPerPdct" type="PriceFormat51Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricRcvdPerPdct" type="PriceFormat48Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionPrice61">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshInLieuOfShrPric" type="PriceFormat50Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OverSbcptDpstPric" type="PriceFormat50Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionRate90">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForSbcbdRsltntScties" type="RatioFormat20Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlQtyForExstgScties" type="RatioFormat20Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewToOd" type="RatioFormat19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsFees" type="RateAndAmountFormat39Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmp" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AplblRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCdtRate" type="RateFormat22Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinTxTaxRate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionRate98">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GrssDvddRate" type="GrossDividendRateFormat35Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetDvddRate" type="NetDividendRateFormat37Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxFctr" type="RateAndAmountFormat39Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrstRateUsdForPmt" type="InterestRateUsedForPaymentFormat7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxAllwdOvrsbcptRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrratnRate" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WhldgTaxRate" type="RateAndAmountFormat40Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ScndLvlTax" type="RateAndAmountFormat40Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTax" type="RateAndAmountFormat39Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxblIncmPerDvddShr" type="RateTypeAndAmountAndStatus26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode19Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType8Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat43Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCd" type="DateCode19Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat45Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="NotSpcfdDt" type="DateType8Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeemedRateType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="DeemedRateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DeemedRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEDI"/>
            <xs:enumeration value="DEFP"/>
            <xs:enumeration value="DEIT"/>
            <xs:enumeration value="DERY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DividendRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TXBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnMvmntConf" type="CorporateActionMovementConfirmationV11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification31">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocNb" type="DocumentNumber5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkgTp" type="ProcessingPosition7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification3Choice">
        <xs:choice>
            <xs:element name="AcctSvcrDocId" type="Max35Text"/>
            <xs:element name="AcctOwnrDocId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification9">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber5Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms23">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="RsltgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FractionDispositionType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYU"/>
            <xs:enumeration value="CINL"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="RDDN"/>
            <xs:enumeration value="STAN"/>
            <xs:enumeration value="RDUP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FractionDispositionType27Choice">
        <xs:choice>
            <xs:element name="Cd" type="FractionDispositionType11Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GrossDividendRateFormat35Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="AmtAndRateSts" type="AmountAndRateStatus1"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus55"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GrossDividendRateFormat37Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="AmtAndRateSts" type="AmountAndRateStatus1"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus57"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="GrossDividendRateType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LTCG"/>
            <xs:enumeration value="REES"/>
            <xs:enumeration value="STCG"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
            <xs:enumeration value="CDFI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GrossDividendRateType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="CDFI"/>
            <xs:enumeration value="FUPU"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LTCG"/>
            <xs:enumeration value="PAPU"/>
            <xs:enumeration value="REES"/>
            <xs:enumeration value="STCG"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType42Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IndicativeOrMarketPrice8Choice">
        <xs:choice>
            <xs:element name="IndctvPric" type="PriceFormat50Choice"/>
            <xs:element name="MktPric" type="PriceFormat50Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRateUsedForPaymentFormat7Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus24"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IntermediateSecuritiesDistributionTypeFormat16Choice">
        <xs:choice>
            <xs:element name="Cd" type="IntermediateSecurityDistributionType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="IntermediateSecurityDistributionType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXOF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerOfferorTaxabilityIndicator1Choice">
        <xs:choice>
            <xs:element name="Cd" type="IssuerTaxability2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="IssuerTaxability2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TXBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LotteryType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORIG"/>
            <xs:enumeration value="SUPP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LotteryTypeFormat4Choice">
        <xs:choice>
            <xs:element name="Cd" type="LotteryType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification84">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
            <xs:element name="Tp" type="MarketType8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketType8Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetDividendRateFormat37Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="AmtAndRateSts" type="AmountAndRateStatus1"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus56"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="NetDividendRateFormat40Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="AmtAndRateSts" type="AmountAndRateStatus1"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus58"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="NetDividendRateType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="CDFI"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="REES"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NetDividendRateType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAPO"/>
            <xs:enumeration value="CDFI"/>
            <xs:enumeration value="FUPU"/>
            <xs:enumeration value="FLFR"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="SOIC"/>
            <xs:enumeration value="TXBL"/>
            <xs:enumeration value="TXDF"/>
            <xs:enumeration value="TXFR"/>
            <xs:enumeration value="UNFR"/>
            <xs:enumeration value="PAPU"/>
            <xs:enumeration value="REES"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NewSecuritiesIssuanceType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEFE"/>
            <xs:enumeration value="NDEF"/>
            <xs:enumeration value="REFU"/>
            <xs:enumeration value="NREF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionFeatures6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COND"/>
            <xs:enumeration value="MAXC"/>
            <xs:enumeration value="MAXS"/>
            <xs:enumeration value="OPLF"/>
            <xs:enumeration value="PROR"/>
            <xs:enumeration value="VVPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionFeaturesFormat18Choice">
        <xs:choice>
            <xs:element name="Cd" type="OptionFeatures6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OptionNumber1Choice">
        <xs:choice>
            <xs:element name="Nb" type="Exact3NumericText"/>
            <xs:element name="Cd" type="OptionNumber1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OptionNumber1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNSO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities6">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification122Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification127Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification133Choice">
        <xs:choice>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification143">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification122Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount162">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount163">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount172">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification133Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Payment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="CONT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PercentagePrice1">
        <xs:sequence>
            <xs:element name="PctgPricTp" type="PriceRateType3Code"/>
            <xs:element name="PricVal" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period11">
        <xs:sequence>
            <xs:element name="StartDt" type="DateFormat45Choice"/>
            <xs:element name="EndDt" type="DateFormat45Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceDetails23">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricPdPerPdct" type="PriceFormat51Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GncCshPricRcvdPerPdct" type="PriceFormat48Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceFormat48Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice3"/>
            <xs:element name="AmtPricPerFinInstrmQty" type="AmountPricePerFinancialInstrumentQuantity6"/>
            <xs:element name="AmtPricPerAmt" type="AmountPricePerAmount2"/>
            <xs:element name="IndxPts" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceFormat50Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceFormat51Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice3"/>
            <xs:element name="IndxPts" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceRateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="YIEL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingPosition7Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessingPosition3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity8">
        <xs:sequence>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity17Choice">
        <xs:choice>
            <xs:element name="QtyChc" type="Quantity18Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity18Choice">
        <xs:choice>
            <xs:element name="OrgnlAndCurFaceAmt" type="OriginalAndCurrentQuantities6"/>
            <xs:element name="SgndQty" type="SignedQuantityFormat6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity19Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="QuantityToQuantityRatio1">
        <xs:sequence>
            <xs:element name="Qty1" type="DecimalNumber"/>
            <xs:element name="Qty2" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rate35">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTax" type="RateAndAmountFormat39Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsFees" type="RateAndAmountFormat39Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FsclStmp" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GrssDvddRate" type="GrossDividendRateFormat37Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlySlctnFeeRate" type="SolicitationFeeRateFormat8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ThrdPtyIncntivRate" type="RateAndAmountFormat39Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrstRateUsdForPmt" type="InterestRateUsedForPaymentFormat7Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetDvddRate" type="NetDividendRateFormat40Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AplblRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlctnFeeRate" type="SolicitationFeeRateFormat8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCdtRate" type="RateFormat22Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WhldgTaxRate" type="RateAndAmountFormat40Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ScndLvlTax" type="RateAndAmountFormat40Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnIncm" type="RateAndAmountFormat39Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxOnPrfts" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRclmRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EqulstnRate" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DmdRate" type="RateAndAmountFormat52Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat39Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat40Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="RateTpAndRate" type="RateTypeAndPercentageRate8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateAndAmountFormat52Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="RateTpAndAmtAndRateSts" type="RateTypeAndAmountAndStatus37"/>
            <xs:element name="RateTpAndRate" type="RateTypeAndPercentageRate10"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateFormat22Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RateStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="INDI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateStatus3Choice">
        <xs:choice>
            <xs:element name="Cd" type="RateStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType33Choice">
        <xs:choice>
            <xs:element name="Cd" type="RateType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType36Choice">
        <xs:choice>
            <xs:element name="Cd" type="DividendRateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType42Choice">
        <xs:choice>
            <xs:element name="Cd" type="WithholdingTaxRateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType76Choice">
        <xs:choice>
            <xs:element name="Cd" type="GrossDividendRateType6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType77Choice">
        <xs:choice>
            <xs:element name="Cd" type="NetDividendRateType6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType78Choice">
        <xs:choice>
            <xs:element name="Cd" type="GrossDividendRateType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateType79Choice">
        <xs:choice>
            <xs:element name="Cd" type="NetDividendRateType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RateType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SCHD"/>
            <xs:enumeration value="USCD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateTypeAndAmountAndStatus24">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType33Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus26">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType36Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus37">
        <xs:sequence>
            <xs:element name="RateTp" type="DeemedRateType1Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus55">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType76Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus56">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType77Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus57">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType78Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndAmountAndStatus58">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType79Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateSts" type="RateStatus3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndPercentageRate10">
        <xs:sequence>
            <xs:element name="RateTp" type="DeemedRateType1Choice"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeAndPercentageRate8">
        <xs:sequence>
            <xs:element name="RateTp" type="RateType42Choice"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RatioFormat19Choice">
        <xs:choice>
            <xs:element name="QtyToQty" type="QuantityToQuantityRatio1"/>
            <xs:element name="AmtToAmt" type="AmountToAmountRatio2"/>
            <xs:element name="AmtToQty" type="AmountAndQuantityRatio4"/>
            <xs:element name="QtyToAmt" type="AmountAndQuantityRatio4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RatioFormat20Choice">
        <xs:choice>
            <xs:element name="QtyToQty" type="QuantityToQuantityRatio1"/>
            <xs:element name="AmtToAmt" type="AmountToAmountRatio2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat28Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText6"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceFormat29Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText8"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndIdentification1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText6">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText8">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesOption70">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TempFinInstrmInd" type="TemporaryFinancialInstrumentIndicator3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewSctiesIssncInd" type="NewSecuritiesIssuanceType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrOfferrTaxbltyInd" type="IssuerOfferorTaxabilityIndicator1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmTp" type="GenericIdentification30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="XmptnTp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfIncmSrc" type="CountryCode"/>
            <xs:element name="PstngQty" type="Quantity6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrctnDspstn" type="FractionDispositionType27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyOptn" type="ActiveCurrencyCode"/>
            <xs:element name="DtDtls" type="SecurityDate15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateDtls" type="CorporateActionRate90"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="CorporateActionPrice59"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties75"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties75"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityDate15">
        <xs:sequence>
            <xs:element name="PstngDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AvlblDt" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrpssDt" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvddRnkgDt" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateFormat43Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties75">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification143"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount163"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount163"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount163"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat6">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedQuantityFormat7">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="QtyChc" type="Quantity19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SolicitationFeeRateFormat8Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="AmtToQty" type="AmountAndQuantityRatio4"/>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxVoucher4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrgnDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrgnSttlmDt" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TemporaryFinancialInstrumentIndicator3Choice">
        <xs:choice>
            <xs:element name="TempInd" type="YesNoIndicator"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TotalEligibleBalanceFormat8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="Quantity17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullPrdUnits" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PartWayPrdUnits" type="SignedQuantityFormat6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentification1">
        <xs:sequence>
            <xs:element name="MktInfrstrctrTxId" type="RestrictedFINMax35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WithholdingTaxRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BWIT"/>
            <xs:enumeration value="FTCA"/>
            <xs:enumeration value="NRAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
