assets/xsd/seev.042.001.09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Jan 31 15:36:40, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.042.001.09" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.042.001.09">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification53">
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification127Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat28Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CorpActnEvtAndBal" type="CorporateActionEventAndBalance17"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountPrice3">
        <xs:sequence>
            <xs:element name="AmtPricTp" type="AmountPriceType1Code"/>
            <xs:element name="PricVal" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AmountPriceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PLOT"/>
            <xs:enumeration value="PREM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceFormat5Choice">
        <xs:choice>
            <xs:element name="Bal" type="SignedQuantityFormat7"/>
            <xs:element name="ElgblBal" type="SignedQuantityFormat6"/>
            <xs:element name="NotElgblBal" type="SignedQuantityFormat6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledReason8Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledStatus12Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancelledStatusReason11"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledStatusReason11">
        <xs:sequence>
            <xs:element name="RsnCd" type="CancelledReason8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANO"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionBalance41">
        <xs:sequence>
            <xs:element name="TtlElgblBal" type="Quantity17Choice"/>
            <xs:element name="UinstdBal" type="BalanceFormat5Choice"/>
            <xs:element name="TtlInstdBalDtls" type="InstructedBalance11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckdBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrrwdBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollInBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollOutBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLnBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OutForRegnBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPosBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtPosBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDtPosBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InTrnsShipmntBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegdBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OblgtdBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgDlvryBal" type="PendingBalance5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgRctBal" type="PendingBalance5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventAndBalance17">
        <xs:sequence>
            <xs:element name="GnlInf" type="EventInformation13"/>
            <xs:element name="UndrlygScty" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="CorporateActionBalance41"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventDeadlines3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlyRspnDdln" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnDdln" type="DateFormat44Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktDdln" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctDdln" type="DateFormat43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CoverPrtctDdln" type="DateFormat43Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType29Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="DRCA"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NOOF"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="WRTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType85Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType29Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionInstructionStatementReportV09">
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination1"/>
            <xs:element name="StmtGnlDtls" type="Statement72"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctAndStmtDtls" type="AccountIdentification53"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionMandatoryVoluntary1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAND"/>
            <xs:enumeration value="CHOS"/>
            <xs:enumeration value="VOLU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionMandatoryVoluntary3Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionMandatoryVoluntary1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionOption11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="BSPL"/>
            <xs:enumeration value="BUYA"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CEXC"/>
            <xs:enumeration value="CONN"/>
            <xs:enumeration value="CONY"/>
            <xs:enumeration value="CTEN"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="LAPS"/>
            <xs:enumeration value="MPUT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="NOQU"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="QINV"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SLLE"/>
            <xs:enumeration value="PRUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionOption30Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionOption11Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionStatementReportingType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MASE"/>
            <xs:enumeration value="SAME"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CorporateActionStatementType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="ALLL"/>
            <xs:enumeration value="BALO"/>
            <xs:enumeration value="BALI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode19Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType8Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode21Choice">
        <xs:choice>
            <xs:element name="Cd" type="DateType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCodeAndTimeFormat3">
        <xs:sequence>
            <xs:element name="DtCd" type="DateCode21Choice"/>
            <xs:element name="Tm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat43Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCd" type="DateCode19Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat44Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCdAndTm" type="DateCodeAndTimeFormat3"/>
            <xs:element name="DtCd" type="DateCode19Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateOrDateTimePeriod1Choice">
        <xs:choice>
            <xs:element name="Dt" type="DatePeriod2"/>
            <xs:element name="DtTm" type="DateTimePeriod1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DatePeriod2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DateType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DefaultProcessingOrStandingInstruction1Choice">
        <xs:choice>
            <xs:element name="DfltOptnInd" type="YesNoIndicator"/>
            <xs:element name="StgInstrInd" type="YesNoIndicator"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnInstrStmtRpt" type="CorporateActionInstructionStatementReportV09"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EventInformation13">
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="Max35Text"/>
            <xs:element name="EvtTp" type="CorporateActionEventType85Choice"/>
            <xs:element name="MndtryVlntryEvtTp" type="CorporateActionMandatoryVoluntary3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNtfctnId" type="NotificationIdentification5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Frequency25Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstructedBalance11">
        <xs:sequence>
            <xs:element name="TtlInstdBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlAccptdInstrBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCancInstrBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPdgInstrBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlRjctdInstrBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPrtctInstrBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnDtls" type="InstructedCorporateActionOption12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructedCorporateActionOption12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnNb" type="Exact3NumericText"/>
            <xs:element name="OptnTp" type="CorporateActionOption30Choice"/>
            <xs:element name="InstdBal" type="BalanceFormat5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfltActn" type="DefaultProcessingOrStandingInstruction1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnAccptdInstdBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnCancInstrBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnPdgInstrBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnRjctdInstrBal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnPrtctInstrBal" type="SignedQuantityFormat6"/>
            <xs:element name="EvtDdlns" type="CorporateActionEventDeadlines3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnInstrDtls" type="OptionInstructionDetails3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructionProcessingStatus32Choice">
        <xs:choice>
            <xs:element name="Accptd" type="NoSpecifiedReason1"/>
            <xs:element name="Canc" type="CancelledStatus12Choice"/>
            <xs:element name="AccptdForFrthrPrcg" type="NoSpecifiedReason1"/>
            <xs:element name="Rjctd" type="RejectedStatus26Choice"/>
            <xs:element name="Pdg" type="NoSpecifiedReason1"/>
            <xs:element name="PdgCxl" type="PendingCancellationStatus7Choice"/>
            <xs:element name="Cvrd" type="NoSpecifiedReason1"/>
            <xs:element name="Ucvrd" type="NoSpecifiedReason1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NoSpecifiedReason1">
        <xs:sequence>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotificationIdentification5">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionInstructionDetails3">
        <xs:sequence>
            <xs:element name="InstrId" type="Max15Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrSeqNb" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctInd" type="ProtectTransactionType2Code"/>
            <xs:element name="InstrQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="InstrDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CoverPrtctDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BidPric" type="PriceFormat45Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CondlQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrRef" type="Max30Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrNrrtv" type="Max350Text"/>
            <xs:element name="InstrSts" type="InstructionProcessingStatus32Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities6">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification127Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingBalance5">
        <xs:sequence>
            <xs:element name="Bal" type="SignedQuantityFormat6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgTxs" type="SettlementTypeAndIdentification25"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingCancellationReason5Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingCancellationReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingCancellationReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DQCS"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingCancellationStatus7Choice">
        <xs:choice>
            <xs:element name="NotSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingCancellationStatusReason7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingCancellationStatusReason7">
        <xs:sequence>
            <xs:element name="RsnCd" type="PendingCancellationReason5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PercentagePrice1">
        <xs:sequence>
            <xs:element name="PctgPricTp" type="PriceRateType3Code"/>
            <xs:element name="PricVal" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriceFormat45Choice">
        <xs:choice>
            <xs:element name="PctgPric" type="PercentagePrice1"/>
            <xs:element name="AmtPric" type="AmountPrice3"/>
            <xs:element name="NotSpcfdPric" type="PriceValueType10Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceRateType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="YIEL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PriceValueType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProprietaryQuantity7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity8">
        <xs:sequence>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProtectTransactionType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROT"/>
            <xs:enumeration value="COVP"/>
            <xs:enumeration value="COVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity17Choice">
        <xs:choice>
            <xs:element name="QtyChc" type="Quantity18Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity18Choice">
        <xs:choice>
            <xs:element name="OrgnlAndCurFaceAmt" type="OriginalAndCurrentQuantities6"/>
            <xs:element name="SgndQty" type="SignedQuantityFormat6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity19Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="PrtryQty" type="ProprietaryQuantity8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedReason25Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason49Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatus26Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectedStatusReason24"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedStatusReason24">
        <xs:sequence>
            <xs:element name="RsnCd" type="RejectedReason25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason49Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="INVA"/>
            <xs:enumeration value="OPTY"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="NMTY"/>
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTV"/>
            <xs:enumeration value="OPNM"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="REFT"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="EVNM"/>
            <xs:enumeration value="DQCS"/>
            <xs:enumeration value="DQCC"/>
            <xs:enumeration value="DQAM"/>
            <xs:enumeration value="IRDQ"/>
            <xs:enumeration value="DQBV"/>
            <xs:enumeration value="DQBI"/>
            <xs:enumeration value="DCAN"/>
            <xs:enumeration value="DPRG"/>
            <xs:enumeration value="INIR"/>
            <xs:enumeration value="SHAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat28Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText6"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndIdentification1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText6">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTypeAndIdentification25">
        <xs:sequence>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat6">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedQuantityFormat7">
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code"/>
            <xs:element name="QtyChc" type="Quantity19Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Statement72">
        <xs:sequence>
            <xs:element name="StmtTp" type="CorporateActionStatementType2Code"/>
            <xs:element name="RptgTp" type="CorporateActionStatementReportingType1Code"/>
            <xs:element name="StmtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrAggtnPrd" type="DatePeriod2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptNb" type="Max5NumericText"/>
            <xs:element name="StmtDtTm" type="DateAndDateTime2Choice"/>
            <xs:element name="Frqcy" type="Frequency25Choice"/>
            <xs:element name="UpdTp" type="UpdateType15Choice"/>
            <xs:element name="ActvtyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnDdlnPrd" type="DateOrDateTimePeriod1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateType15Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementUpdateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
