assets/xsd/sese.019.001.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Jan 20 12:00:35, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.019.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.019.001.07">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account28">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrId" type="PartyIdentification132"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="PartyIdentification132"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountHoldingInformationRequestV07">
        <xs:sequence>
            <xs:element name="MsgRef" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolRef" type="AdditionalReference11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsRef" type="AdditionalReference10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizFlowDrctnTp" type="BusinessFlowDirectionType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryIndvInvstr" type="IndividualPerson8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryIndvInvstr" type="IndividualPerson8"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrIndvInvstr" type="IndividualPerson8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryCorpInvstr" type="Organisation36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryCorpInvstr" type="Organisation36"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrCorpInvstr" type="Organisation36"/>
            <xs:element name="TrfrAcct" type="InvestmentAccount69"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmneeAcct" type="InvestmentAccount69"/>
            <xs:element name="Trfee" type="PartyIdentification132"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PdctTrf" type="PortfolioTransfer6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktPrctcVrsn" type="MarketPracticeVersion1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountOwnershipType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOWN"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ENTR"/>
            <xs:enumeration value="EURE"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="TRUS"/>
            <xs:enumeration value="GOVO"/>
            <xs:enumeration value="JOIT"/>
            <xs:enumeration value="COMO"/>
            <xs:enumeration value="JOIN"/>
            <xs:enumeration value="LLCO"/>
            <xs:enumeration value="LIPA"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="NFPO"/>
            <xs:enumeration value="ONIS"/>
            <xs:enumeration value="OWNR"/>
            <xs:enumeration value="RGIC"/>
            <xs:enumeration value="SIGL"/>
            <xs:enumeration value="UNCO"/>
            <xs:enumeration value="USUF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalInformation15">
        <xs:sequence>
            <xs:element name="InfTp" type="GenericIdentification36"/>
            <xs:element name="InfVal" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference10">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification139"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference11">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification139"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification7">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType42Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternateSecurityIdentification7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Bloomberg2Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="(BBG)[BCDFGHJKLMNPQRSTVWXYZ\d]{8}\d"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BusinessFlowDirectionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADLV"/>
            <xs:enumeration value="ARCV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAsset2">
        <xs:sequence>
            <xs:element name="CshAsstTp" type="CashAssetType1Choice"/>
            <xs:element name="HldgCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAssetType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="CashAssetType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CashAssetType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSH2"/>
            <xs:enumeration value="CSH1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClassificationType32Choice">
        <xs:choice>
            <xs:element name="ClssfctnFinInstrm" type="CFIOct2015Identifier"/>
            <xs:element name="AltrnClssfctn" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2Choice">
        <xs:choice>
            <xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
            <xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
            <xs:element name="IENSC" type="IrishNSCIdentifier"/>
            <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
            <xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
            <xs:element name="CHBC" type="SwissBCIdentifier"/>
            <xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
            <xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
            <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
            <xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
            <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
            <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
            <xs:element name="CHSIC" type="SwissSICIdentifier"/>
            <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
            <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
            <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
            <xs:element name="HKNCC" type="HongKongBankIdentifier"/>
            <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
            <xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
            <xs:element name="INIFSC" type="IndianFinancialSystemCodeIdentifier"/>
            <xs:element name="GRHEBIC" type="HellenicBankIdentificationCodeIdentifier"/>
            <xs:element name="PLKNR" type="PolishNationalClearingCodeIdentifier"/>
            <xs:element name="OthrClrCdId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndAmount2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AcctHldgInfReq" type="AccountHoldingInformationRequestV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrument61Choice">
        <xs:choice>
            <xs:element name="Scty" type="FinancialInstrumentIdentification2"/>
            <xs:element name="CshAsst" type="CashAsset2"/>
            <xs:element name="OthrAsst" type="OtherAsset2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument84">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LineId" type="Max35Text"/>
            <xs:element name="Instrm" type="FinancialInstrument61Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="AdditionalReference10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRef" type="AdditionalReference10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfeeAcct" type="Account28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trfr" type="Account28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPtiesDtls" type="FundSettlementParameters18"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType32Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundPortfolio4Choice">
        <xs:choice>
            <xs:element name="TaxEffcntPdct" type="TaxEfficientProduct4"/>
            <xs:element name="GnlInvstmt" type="GeneralInvestment2"/>
            <xs:element name="Pnsn" type="Pension4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FundSettlementParameters18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat28Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradTxCond" type="TradeTransactionCondition8Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmTxCond" type="SettlementTransactionCondition30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSttlmSysId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSdDtls" type="SettlementParties94"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GenderCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MALE"/>
            <xs:enumeration value="FEMA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GeneralInvestment2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GeneralInvestmentAccountType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrshTp" type="AccountOwnershipType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurInvstmtAmt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EstmtdVal" type="DateAndAmount2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralInvestmentAccountType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="GeneralInvestmentAccountType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="GeneralInvestmentAccountType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANYY"/>
            <xs:enumeration value="EQUI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HellenicBankIdentificationCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="GR[0-9]{7,7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HolderType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TFEE"/>
            <xs:enumeration value="TFOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYear">
        <xs:restriction base="xs:gYear"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:choice>
            <xs:element name="Dmst" type="CountryCode"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType42Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="IndianFinancialSystemCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IN[a-zA-Z0-9]{11,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IndividualPerson8">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmSfx" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Gndr" type="GenderCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SclSctyNb" type="Max35Text"/>
            <xs:element name="IndvInvstrAdr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount69">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="PartyIdentification132"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketPracticeVersion1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Organisation36">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification140"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxtnCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxIdNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtlRegnNb" type="Max35Text"/>
            <xs:element name="CorpInvstrAdr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherAsset2">
        <xs:sequence>
            <xs:element name="OthrAsstTp" type="OtherAsset2Choice"/>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max35Text"/>
            <xs:element maxOccurs="5" minOccurs="0" name="OthrId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherAsset2Choice">
        <xs:choice>
            <xs:element name="Cd" type="OtherAsset2Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OtherAsset2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIMA"/>
            <xs:enumeration value="EXIA"/>
            <xs:enumeration value="MOVE"/>
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="TIPP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification122Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification123Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification125Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification126Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification132">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification139">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification125Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification140">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification126Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification141">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification122Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount194">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification123Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnAdr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pension4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PensionPolicy1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PensionSchemeType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfScp" type="PensionTransferScope1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxRef" type="TaxReference1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrwdwnTrchId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PensionPolicy1">
        <xs:sequence>
            <xs:element name="Idr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PensionSchemeType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="PensionSchemeType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PensionSchemeType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AAVC"/>
            <xs:enumeration value="DBEN"/>
            <xs:enumeration value="EXPP"/>
            <xs:enumeration value="FAVC"/>
            <xs:enumeration value="GPPS"/>
            <xs:enumeration value="SIPG"/>
            <xs:enumeration value="STKG"/>
            <xs:enumeration value="IPST"/>
            <xs:enumeration value="STKI"/>
            <xs:enumeration value="OTPM"/>
            <xs:enumeration value="OCDC"/>
            <xs:enumeration value="PPNS"/>
            <xs:enumeration value="EPKA"/>
            <xs:enumeration value="ITPO"/>
            <xs:enumeration value="REAN"/>
            <xs:enumeration value="SC32"/>
            <xs:enumeration value="S32A"/>
            <xs:enumeration value="SIPP"/>
            <xs:enumeration value="SSAS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PensionTransferScope1Choice">
        <xs:choice>
            <xs:element name="Cd" type="PensionTransferScope1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PensionTransferScope1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRYS"/>
            <xs:enumeration value="SDDT"/>
            <xs:enumeration value="FULP"/>
            <xs:enumeration value="UCRY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PersonIdentificationType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATIN"/>
            <xs:enumeration value="GTIN"/>
            <xs:enumeration value="ITIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PolishNationalClearingCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="PL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PortfolioTransfer6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="TrfId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtfl" type="FundPortfolio4Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmAsstForTrf" type="FinancialInstrument84"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreviousAll">
        <xs:restriction base="xs:string">
            <xs:pattern value="ALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PreviousYear2Choice">
        <xs:choice>
            <xs:element name="AllPrvsYrs" type="PreviousAll"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SpcfcPrvsYrs" type="ISOYear"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat28Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText6"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndIdentification1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText6">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification25Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="SEDOL" type="SEDOLIdentifier"/>
            <xs:element name="CUSIP" type="CUSIPIdentifier"/>
            <xs:element name="RIC" type="RICIdentifier"/>
            <xs:element name="TckrSymb" type="TickerIdentifier"/>
            <xs:element name="Blmbrg" type="Bloomberg2Identifier"/>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
            <xs:element name="QUICK" type="QUICKIdentifier"/>
            <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
            <xs:element name="Dtch" type="DutchIdentifier"/>
            <xs:element name="Vlrn" type="ValorenIdentifier"/>
            <xs:element name="SCVM" type="SicovamIdentifier"/>
            <xs:element name="Belgn" type="BelgianIdentifier"/>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
            <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementParties94">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification141"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount194"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount194"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount194"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount194"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount194"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOMC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementTransactionCondition30Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementTransactionCondition11Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubAccount5">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtc" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxEfficientProduct4">
        <xs:sequence>
            <xs:element name="TaxEffcntPdctTp" type="TaxEfficientProductType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurYr" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsYrs" type="PreviousYear2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxEfficientProductType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxEfficientProductType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxEfficientProductType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CLIS"/>
            <xs:enumeration value="FISA"/>
            <xs:enumeration value="GISK"/>
            <xs:enumeration value="GASK"/>
            <xs:enumeration value="HISA"/>
            <xs:enumeration value="INNF"/>
            <xs:enumeration value="JCSH"/>
            <xs:enumeration value="JISA"/>
            <xs:enumeration value="LISA"/>
            <xs:enumeration value="CCTF"/>
            <xs:enumeration value="SCTF"/>
            <xs:enumeration value="EQUI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxReference1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="TaxReferenceType1Choice"/>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HldrTp" type="TaxReferenceParty1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxReferenceParty1Choice">
        <xs:choice>
            <xs:element name="Cd" type="HolderType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxReferenceType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="PersonIdentificationType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeTransactionCondition5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XCPN"/>
            <xs:enumeration value="CCPN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeTransactionCondition8Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeTransactionCondition5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
