assets/xsd/sese.005.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.13) on 2018 Jan 12 08:49:06, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.005.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.005.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="PartyIdentification113"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Account25">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="AcctSvcr" type="PartyIdentification113"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference8">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference9">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="BeneficiaryCertificationCompletion1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NCER"/>
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="PHYS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Bloomberg2Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="(BBG)[BCDFGHJKLMNPQRSTVWXYZ\d]{8}\d"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BusinessFlowType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLDP"/>
            <xs:enumeration value="SLRP"/>
            <xs:enumeration value="DLPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="ChargeBasis2Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxationBasis5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ChargeBearer1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OUR"/>
            <xs:enumeration value="BEN"/>
            <xs:enumeration value="SHA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ChargeOrCommissionDiscount1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="WaivingInstruction2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargeOrCommissionDiscount2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="WaivingInstruction2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargePaymentMethod1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ChargePaymentMethod1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ChargePaymentMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="UNIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ChargeType5Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundFee1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ChargeType6Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundFee2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContactIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CopyInformation4">
        <xs:sequence>
            <xs:element name="CpyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRcvr" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat1Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="Cd" type="SettlementDate1Code"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeliverInformation19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Trfr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfrRegdAcct" type="Account24"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrmyInf" type="Intermediary41"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmpDty" type="StampDutyType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Fees" type="Fees1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IndvTax" type="Tax34"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms33"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPtiesDtls" type="DeliveringPartiesAndAccount17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhysTrf" type="PhysicalTransferType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhysTrfDtls" type="DeliveryParameters4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="AdditionalReference8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeliveringPartiesAndAccount17">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrrDtls" type="InvestmentAccount65"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrrsCtdnDtls" type="PartyIdentificationAndAccount157"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrrsIntrmy1Dtls" type="PartyIdentificationAndAccount157"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrrsIntrmy2Dtls" type="PartyIdentificationAndAccount157"/>
            <xs:element name="DlvrgAgtDtls" type="PartyIdentificationAndAccount157"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSttlmSys" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfSttlmDtls" type="PartyIdentification123"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeliveryParameters4">
        <xs:sequence>
            <xs:element name="RegdAdrInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctPrsn" type="ContactIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TrfInInstr" type="TransferInInstructionV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExemptionReason1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxExemptReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fee2">
        <xs:sequence>
            <xs:element name="Tp" type="ChargeType5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="ChargeBasis2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StdRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DscntDtls" type="ChargeOrCommissionDiscount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonStdSLARef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification113"/>
            <xs:element name="InftvInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fee4">
        <xs:sequence>
            <xs:element name="Tp" type="ChargeType6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="ChargeBasis2Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DscntDtls" type="ChargeOrCommissionDiscount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgBr" type="ChargeBearer1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification113"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fees1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ComrclAgrmtRef" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IndvFee" type="Fee4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument63">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms33">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ToAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtgInstn" type="PartyIdentification113"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification27">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HoldingsPlanType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVP"/>
            <xs:enumeration value="SWIP"/>
            <xs:enumeration value="PLAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:choice>
            <xs:element name="Dmst" type="CountryCode"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="IncomePreference2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="SECU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Intermediary41">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="Account25"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Role" type="Role4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctPrsn" type="ContactIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount65">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OwnrId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmtrlsdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPref" type="IncomePreference2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfcryCertfctnCmpltn" type="BeneficiaryCertificationCompletion1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount67">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OwnrId" type="PartyIdentification113"/>
            <xs:element name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrmyInf" type="Intermediary41"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmtrlsdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPref" type="IncomePreference2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfcryCertfctnCmpltn" type="BeneficiaryCertificationCompletion1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPtiesDtls" type="ReceivingPartiesAndAccount18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundFee1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="BRKF"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CDPL"/>
            <xs:enumeration value="CDSC"/>
            <xs:enumeration value="CBCH"/>
            <xs:enumeration value="DLEV"/>
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="INIT"/>
            <xs:enumeration value="ADDF"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="SHIP"/>
            <xs:enumeration value="SWIT"/>
            <xs:enumeration value="UCIC"/>
            <xs:enumeration value="REGF"/>
            <xs:enumeration value="PENA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvestmentFundFee2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="REGF"/>
            <xs:enumeration value="SHIP"/>
            <xs:enumeration value="SPCN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvestmentFundRole2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FMCO"/>
            <xs:enumeration value="REGI"/>
            <xs:enumeration value="TRAG"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="CONC"/>
            <xs:enumeration value="UCL1"/>
            <xs:enumeration value="UCL2"/>
            <xs:enumeration value="TRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketPracticeVersion1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherAmount1">
        <xs:sequence>
            <xs:element name="Tp" type="OtherAmountType1Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherAmountType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="OtherAmountType1Code"/>
            <xs:element name="PrtryCd" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OtherAmountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PINT"/>
            <xs:enumeration value="SINT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification113">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification90Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification123">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctPrsn" type="ContactIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount156">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element name="PlcOfSttlm" type="PartyIdentification113"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount157">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount158">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctPrsn" type="ContactIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhysicalTransferType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEMT"/>
            <xs:enumeration value="PHYS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="HIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriceValue1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="Quantity42Choice">
        <xs:choice>
            <xs:element name="TtlUnitsNb" type="DecimalNumber"/>
            <xs:element name="TrfRate" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReceivingPartiesAndAccount18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvrsCtdnDtls" type="PartyIdentificationAndAccount157"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvrsIntrmy1Dtls" type="PartyIdentificationAndAccount157"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvrsIntrmy2Dtls" type="PartyIdentificationAndAccount157"/>
            <xs:element name="RcvgAgtDtls" type="PartyIdentificationAndAccount158"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSttlmSys" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfSttlmDtls" type="PartyIdentification123"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Role4Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundRole2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RoundingDirection2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RDUP"/>
            <xs:enumeration value="RDWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat8Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText6"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText6">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification25Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="SEDOL" type="SEDOLIdentifier"/>
            <xs:element name="CUSIP" type="CUSIPIdentifier"/>
            <xs:element name="RIC" type="RICIdentifier"/>
            <xs:element name="TckrSymb" type="TickerIdentifier"/>
            <xs:element name="Blmbrg" type="Bloomberg2Identifier"/>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
            <xs:element name="QUICK" type="QUICKIdentifier"/>
            <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
            <xs:element name="Dtch" type="DutchIdentifier"/>
            <xs:element name="Vlrn" type="ValorenIdentifier"/>
            <xs:element name="SCVM" type="SicovamIdentifier"/>
            <xs:element name="Belgn" type="BelgianIdentifier"/>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
            <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification7"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementDate1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="ENDC"/>
            <xs:enumeration value="WHIF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="StampDutyType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASTD"/>
            <xs:enumeration value="SDRN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubAccount5">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtc" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tax31">
        <xs:sequence>
            <xs:element name="Tp" type="TaxType3Choice"/>
            <xs:element name="ApldAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxClctnDtls" type="TaxCalculationInformation10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tax34">
        <xs:sequence>
            <xs:element name="Tp" type="TaxType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="TaxBasis1Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element name="XmptnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XmptnRsn" type="ExemptionReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxClctnDtls" type="TaxCalculationInformation11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxBasis1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxationBasis2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxCalculationInformation10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="TaxBasis1Choice"/>
            <xs:element name="TaxblAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxCalculationInformation11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="TaxBasis1Choice"/>
            <xs:element name="TaxblAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxExemptReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="MASA"/>
            <xs:enumeration value="MISA"/>
            <xs:enumeration value="SISA"/>
            <xs:enumeration value="IISA"/>
            <xs:enumeration value="CUYP"/>
            <xs:enumeration value="PRYP"/>
            <xs:enumeration value="ASTR"/>
            <xs:enumeration value="EMPY"/>
            <xs:enumeration value="EMCY"/>
            <xs:enumeration value="EPRY"/>
            <xs:enumeration value="ECYE"/>
            <xs:enumeration value="NFPI"/>
            <xs:enumeration value="NFQP"/>
            <xs:enumeration value="DECP"/>
            <xs:enumeration value="IRAC"/>
            <xs:enumeration value="IRAR"/>
            <xs:enumeration value="KEOG"/>
            <xs:enumeration value="PFSP"/>
            <xs:enumeration value="401K"/>
            <xs:enumeration value="SIRA"/>
            <xs:enumeration value="403B"/>
            <xs:enumeration value="457X"/>
            <xs:enumeration value="RIRA"/>
            <xs:enumeration value="RIAN"/>
            <xs:enumeration value="RCRF"/>
            <xs:enumeration value="RCIP"/>
            <xs:enumeration value="EIFP"/>
            <xs:enumeration value="EIOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxType16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COAX"/>
            <xs:enumeration value="CTAX"/>
            <xs:enumeration value="EUTR"/>
            <xs:enumeration value="LEVY"/>
            <xs:enumeration value="LOCL"/>
            <xs:enumeration value="NATI"/>
            <xs:enumeration value="PROV"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="STAT"/>
            <xs:enumeration value="STEX"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="TRAX"/>
            <xs:enumeration value="VATA"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="NKAP"/>
            <xs:enumeration value="KAPA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxType17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROV"/>
            <xs:enumeration value="NATI"/>
            <xs:enumeration value="STAT"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="KAPA"/>
            <xs:enumeration value="NKAP"/>
            <xs:enumeration value="INPO"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="WTAX"/>
            <xs:enumeration value="INHT"/>
            <xs:enumeration value="SOSU"/>
            <xs:enumeration value="CTAX"/>
            <xs:enumeration value="GIFT"/>
            <xs:enumeration value="COAX"/>
            <xs:enumeration value="EUTR"/>
            <xs:enumeration value="AKT1"/>
            <xs:enumeration value="AKT2"/>
            <xs:enumeration value="ZWIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxType16Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxType17Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxableIncomePerShareCalculated2Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxableIncomePerShareCalculated2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxableIncomePerShareCalculated2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TSIY"/>
            <xs:enumeration value="TSIN"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxationBasis2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="PERU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxationBasis5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="GRAM"/>
            <xs:enumeration value="NEAM"/>
            <xs:enumeration value="NAVP"/>
            <xs:enumeration value="PERU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TotalFeesAndTaxes40">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlOvrhdApld" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlFees" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxs" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComrclAgrmtRef" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IndvFee" type="Fee2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IndvTax" type="Tax31"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transfer34">
        <xs:sequence>
            <xs:element name="TrfRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="AdditionalReference8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRef" type="AdditionalReference8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizFlowTp" type="BusinessFlowType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdTrfDt" type="DateFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfOrdrDtForm" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfRsn" type="TransferReason1Choice"/>
            <xs:element maxOccurs="3" minOccurs="0" name="HldgsPlanTp" type="HoldingsPlanType1Code"/>
            <xs:element name="FinInstrmDtls" type="FinancialInstrument63"/>
            <xs:element name="Qty" type="Quantity42Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UnitsDtls" type="Unit8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rndg" type="RoundingDirection2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AvrgPric" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnAcctTrfInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonStdSttlmInf" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgAgtDtls" type="PartyIdentificationAndAccount156"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgAgtDtls" type="PartyIdentificationAndAccount156"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfExpnssPmtTp" type="ChargePaymentMethod1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransferInFunction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADRE"/>
            <xs:enumeration value="INST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransferInInstructionV08">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolRef" type="AdditionalReference9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsRef" type="AdditionalReference8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Fctn" type="TransferInFunction1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TrfDtls" type="Transfer34"/>
            <xs:element name="AcctDtls" type="InvestmentAccount67"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDtls" type="DeliverInformation19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktPrctcVrsn" type="MarketPracticeVersion1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDtls" type="CopyInformation4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferReason1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TransferReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification27"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TransferReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRAU"/>
            <xs:enumeration value="TRAC"/>
            <xs:enumeration value="TRAT"/>
            <xs:enumeration value="TRAO"/>
            <xs:enumeration value="TRAI"/>
            <xs:enumeration value="TRAG"/>
            <xs:enumeration value="TPLD"/>
            <xs:enumeration value="TTDT"/>
            <xs:enumeration value="TRPE"/>
            <xs:enumeration value="TRAF"/>
            <xs:enumeration value="TRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDE"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="NAVL"/>
            <xs:enumeration value="CREA"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="SWNG"/>
            <xs:enumeration value="MIDD"/>
            <xs:enumeration value="RINV"/>
            <xs:enumeration value="SWIC"/>
            <xs:enumeration value="DDVR"/>
            <xs:enumeration value="ACTU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TypeOfPrice46Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfPrice10Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UKTaxGroupUnit1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GRP1"/>
            <xs:enumeration value="GRP2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Unit8">
        <xs:sequence>
            <xs:element name="UnitsNb" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqstnDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CertNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Grp1Or2Units" type="UKTaxGroupUnit1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="UnitPrice23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxOvrhd" type="TotalFeesAndTaxes40"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrAmt" type="OtherAmount1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitPrice23">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfPrice46Choice"/>
            <xs:element name="Val" type="PriceValue1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMtd" type="PriceMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstNAV" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblIncmPerShr" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblIncmPerShrClctd" type="TaxableIncomePerShareCalculated2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WaivingInstruction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WICA"/>
            <xs:enumeration value="WIUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="WaivingInstruction2Choice">
        <xs:choice>
            <xs:element name="Cd" type="WaivingInstruction1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
