assets/xsd/sese.012.001.09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2019 Feb 01 17:04:51, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.012.001.09" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.012.001.09">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account27">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="AcctSvcr" type="PartyIdentification139"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Account28">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrId" type="PartyIdentification132"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="PartyIdentification132"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentificationAndName6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IBAN" type="IBAN2007Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericAccountIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalInformation15">
        <xs:sequence>
            <xs:element name="InfTp" type="GenericIdentification36"/>
            <xs:element name="InfVal" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference10">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification139"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference11">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification139"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AllOtherCash1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="NLIQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification7">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType42Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternateSecurityIdentification7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdSrc" type="IdentificationSource1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Bloomberg2Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="(BBG)[BCDFGHJKLMNPQRSTVWXYZ\d]{8}\d"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BusinessFlowType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLDP"/>
            <xs:enumeration value="SLRP"/>
            <xs:enumeration value="DLPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CashAll1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="NLIQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAsset1">
        <xs:sequence>
            <xs:element name="CshAsstTp" type="CashAssetType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAssetType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="CashAssetType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CashAssetType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSH2"/>
            <xs:enumeration value="CSH1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ChargeBasis2Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxationBasis5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ChargeOrCommissionDiscount1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="WaivingInstruction2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargeType5Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundFee1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2Choice">
        <xs:choice>
            <xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
            <xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
            <xs:element name="IENSC" type="IrishNSCIdentifier"/>
            <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
            <xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
            <xs:element name="CHBC" type="SwissBCIdentifier"/>
            <xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
            <xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
            <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
            <xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
            <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
            <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
            <xs:element name="CHSIC" type="SwissSICIdentifier"/>
            <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
            <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
            <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
            <xs:element name="HKNCC" type="HongKongBankIdentifier"/>
            <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
            <xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
            <xs:element name="INIFSC" type="IndianFinancialSystemCodeIdentifier"/>
            <xs:element name="GRHEBIC" type="HellenicBankIdentificationCodeIdentifier"/>
            <xs:element name="PLKNR" type="PolishNationalClearingCodeIdentifier"/>
            <xs:element name="OthrClrCdId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification4Choice">
        <xs:choice>
            <xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
            <xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
            <xs:element name="IENSC" type="IrishNSCIdentifier"/>
            <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
            <xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
            <xs:element name="CHBC" type="SwissBCIdentifier"/>
            <xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
            <xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
            <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
            <xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
            <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
            <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
            <xs:element name="CHSIC" type="SwissSICIdentifier"/>
            <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
            <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
            <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
            <xs:element name="HKNCC" type="HongKongBankIdentifier"/>
            <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
            <xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContactIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Conversion1">
        <xs:sequence>
            <xs:element name="TrgtScty" type="FinancialInstrumentIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditTransfer9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="PartyIdentification132"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAcct" type="AccountIdentificationAndName6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="FinancialInstitutionIdentification16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcct" type="AccountIdentificationAndName6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1" type="FinancialInstitutionIdentification16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1Acct" type="AccountIdentificationAndName6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2" type="FinancialInstitutionIdentification16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2Acct" type="AccountIdentificationAndName6"/>
            <xs:element name="CdtrAgt" type="FinancialInstitutionIdentification16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcct" type="AccountIdentificationAndName6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="PartyIdentification132"/>
            <xs:element name="CdtrAcct" type="AccountIdentificationAndName6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Crystallisation1">
        <xs:sequence>
            <xs:element name="TrchId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrstllsdUnitsNb" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UcrstllsdUnitsNb" type="DecimalNumber"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndAmount2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateQuarter1Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="Prd" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PrtflTrfInstr" type="PortfolioTransferInstructionV09"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Fee5">
        <xs:sequence>
            <xs:element name="Tp" type="ChargeType5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="ChargeBasis2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StdRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DscntDtls" type="ChargeOrCommissionDiscount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonStdSLARef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification139"/>
            <xs:element name="InftvInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument1Choice">
        <xs:choice>
            <xs:element name="Scty" type="FinancialInstrumentIdentification1"/>
            <xs:element name="CshAsst" type="CashAsset1"/>
            <xs:element name="OthrAsst" type="OtherAsset1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument69">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LineId" type="Max35Text"/>
            <xs:element name="Instrm" type="FinancialInstrument1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="Quantity44Choice"/>
            <xs:element name="TrfTp" type="TransferType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Convs" type="Conversion1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UnitsDtls" type="Unit11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="AdditionalReference10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRef" type="AdditionalReference10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizFlowTp" type="BusinessFlowType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AvrgAcqstnPric" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlBookVal" type="DateAndAmount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfeeAcct" type="Account28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trfr" type="Account28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdTrfDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdTradDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDtls" type="PaymentInstrument14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrstllstnDtls" type="Crystallisation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxValtnPt" type="Tax36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPtiesDtls" type="FundSettlementParameters14"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundPortfolio3Choice">
        <xs:choice>
            <xs:element name="TaxEffcntPdct" type="TaxEfficientProduct3"/>
            <xs:element name="GnlInvstmt" type="GeneralInvestment1"/>
            <xs:element name="Pnsn" type="Pension1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FundSettlementParameters14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat28Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradTxCond" type="TradeTransactionCondition8Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmTxCond" type="SettlementTransactionCondition30Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSttlmSysId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSdDtls" type="SettlementParties74"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSdDtls" type="SettlementParties74"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GenderCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MALE"/>
            <xs:enumeration value="FEMA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GeneralInvestment1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GeneralInvestmentAccountType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurInvstmtAmt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EstmtdVal" type="DateAndAmount2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralInvestmentAccountType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="GeneralInvestmentAccountType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="GeneralInvestmentAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EQUI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification78">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HellenicBankIdentificationCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="GR[0-9]{7,7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HolderType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TFEE"/>
            <xs:enumeration value="TFOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYear">
        <xs:restriction base="xs:gYear"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource1Choice">
        <xs:choice>
            <xs:element name="Dmst" type="CountryCode"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType42Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IndianFinancialSystemCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IN[a-zA-Z0-9]{11,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IndividualPerson8">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmSfx" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Gndr" type="GenderCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SclSctyNb" type="Max35Text"/>
            <xs:element name="IndvInvstrAdr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Intermediary43">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification139"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="Account27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Role" type="Role4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctPrsn" type="ContactIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount69">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="PartyIdentification132"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundFee1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="BRKF"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CDPL"/>
            <xs:enumeration value="CDSC"/>
            <xs:enumeration value="CBCH"/>
            <xs:enumeration value="DLEV"/>
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="INIT"/>
            <xs:enumeration value="ADDF"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="SHIP"/>
            <xs:enumeration value="SWIT"/>
            <xs:enumeration value="UCIC"/>
            <xs:enumeration value="REGF"/>
            <xs:enumeration value="PENA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvestmentFundRole2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FMCO"/>
            <xs:enumeration value="REGI"/>
            <xs:enumeration value="TRAG"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="CONC"/>
            <xs:enumeration value="UCL1"/>
            <xs:enumeration value="UCL2"/>
            <xs:enumeration value="TRAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketPracticeVersion1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Organisation36">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification140"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxtnCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnCtry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxIdNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtlRegnNb" type="Max35Text"/>
            <xs:element name="CorpInvstrAdr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherAmount1">
        <xs:sequence>
            <xs:element name="Tp" type="OtherAmountType1Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherAmountType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="OtherAmountType1Code"/>
            <xs:element name="PrtryCd" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OtherAmountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PINT"/>
            <xs:enumeration value="SINT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherAsset1">
        <xs:sequence>
            <xs:element name="OthrAsstTp" type="OtherAsset1Choice"/>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="5" minOccurs="0" name="OthrId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherAsset1Choice">
        <xs:choice>
            <xs:element name="Cd" type="OtherAsset1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OtherAsset1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MOVE"/>
            <xs:enumeration value="PROP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification122Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification123Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification125Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification126Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification132">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification139">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification125Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification140">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification126Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification141">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification122Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount161">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification123Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstrument14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtTrfDtls" type="CreditTransfer9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pension1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PensionPolicy1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PensionSchemeType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfScp" type="PensionTransferScope1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxRef" type="TaxReference1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrwdwnTrchId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PensionPolicy1">
        <xs:sequence>
            <xs:element name="Idr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PensionSchemeType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="PensionSchemeType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PensionSchemeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AAVC"/>
            <xs:enumeration value="DBEN"/>
            <xs:enumeration value="EXPP"/>
            <xs:enumeration value="FAVC"/>
            <xs:enumeration value="SIPG"/>
            <xs:enumeration value="GPPS"/>
            <xs:enumeration value="STKG"/>
            <xs:enumeration value="STKI"/>
            <xs:enumeration value="OCDC"/>
            <xs:enumeration value="PPNS"/>
            <xs:enumeration value="REAN"/>
            <xs:enumeration value="SC32"/>
            <xs:enumeration value="S32A"/>
            <xs:enumeration value="SIPP"/>
            <xs:enumeration value="SSAS"/>
            <xs:enumeration value="IPST"/>
            <xs:enumeration value="EPKA"/>
            <xs:enumeration value="ITPO"/>
            <xs:enumeration value="OTPM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PensionTransferScope1Choice">
        <xs:choice>
            <xs:element name="Cd" type="PensionTransferScope1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PensionTransferScope1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRYS"/>
            <xs:enumeration value="SDDT"/>
            <xs:enumeration value="FULP"/>
            <xs:enumeration value="UCRY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PersonIdentificationType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATIN"/>
            <xs:enumeration value="GTIN"/>
            <xs:enumeration value="ITIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PolishNationalClearingCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="PL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PortfolioTransfer3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="TrfId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfConfId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdTrfDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtfl" type="FundPortfolio3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AllOthrCsh" type="AllOtherCash1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAll" type="CashAll1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RsdlCsh" type="ResidualCash1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDtls" type="PaymentInstrument14"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmAsstForTrf" type="FinancialInstrument69"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PortfolioTransferInstructionV09">
        <xs:sequence>
            <xs:element name="MsgRef" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolRef" type="AdditionalReference11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsRef" type="AdditionalReference10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryIndvInvstr" type="IndividualPerson8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryIndvInvstr" type="IndividualPerson8"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrIndvInvstr" type="IndividualPerson8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryCorpInvstr" type="Organisation36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryCorpInvstr" type="Organisation36"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrCorpInvstr" type="Organisation36"/>
            <xs:element name="TrfrAcct" type="InvestmentAccount69"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmneeAcct" type="InvestmentAccount69"/>
            <xs:element name="Trfee" type="PartyIdentification132"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrmyInf" type="Intermediary43"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PdctTrf" type="PortfolioTransfer3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktPrctcVrsn" type="MarketPracticeVersion1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreviousAll">
        <xs:restriction base="xs:string">
            <xs:pattern value="ALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PreviousYear1Choice">
        <xs:choice>
            <xs:element name="AllPrvsYrs" type="PreviousAll"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SpcfcPrvsYrs" type="ISOYear"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PreviousYear4">
        <xs:sequence>
            <xs:element name="PrvsYrs" type="PreviousYear1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshCmpntInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="HIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriceValue1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="Quantity44Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="PctgRate" type="PercentageRate"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="CshAmt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="OthrAsst" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResidualCash1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NRCT"/>
            <xs:enumeration value="RCTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Role4Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundRole2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat28Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText6"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndIdentification1"/>
            <xs:element name="Prtry" type="GenericIdentification78"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndIdentification1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText6">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification25Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="SEDOL" type="SEDOLIdentifier"/>
            <xs:element name="CUSIP" type="CUSIPIdentifier"/>
            <xs:element name="RIC" type="RICIdentifier"/>
            <xs:element name="TckrSymb" type="TickerIdentifier"/>
            <xs:element name="Blmbrg" type="Bloomberg2Identifier"/>
            <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
            <xs:element name="QUICK" type="QUICKIdentifier"/>
            <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
            <xs:element name="Dtch" type="DutchIdentifier"/>
            <xs:element name="Vlrn" type="ValorenIdentifier"/>
            <xs:element name="SCVM" type="SicovamIdentifier"/>
            <xs:element name="Belgn" type="BelgianIdentifier"/>
            <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
            <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementParties74">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification141"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount161"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount161"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount161"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount161"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount161"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOMC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementTransactionCondition30Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementTransactionCondition11Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubAccount5">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtc" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubscriptionInformation2">
        <xs:sequence>
            <xs:element name="DtOfFrstSbcpt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EqtyCmpnt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshCmpnt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element name="TtlAmtYrToDt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Tax35">
        <xs:sequence>
            <xs:element name="Tp" type="TaxType3Choice"/>
            <xs:element name="ApldAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification139"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxClctnDtls" type="TaxCalculationInformation10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Tax36">
        <xs:sequence>
            <xs:element name="DtOrPrd" type="DateQuarter1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxBasis1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxationBasis2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxCalculationInformation10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="TaxBasis1Choice"/>
            <xs:element name="TaxblAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxEfficientProduct3">
        <xs:sequence>
            <xs:element name="TaxEffcntPdctTp" type="TaxEfficientProductType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshCmpntInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsYrs" type="PreviousYear4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurYrSbcptDtls" type="SubscriptionInformation2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxEfficientProductType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxEfficientProductType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxEfficientProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CCTF"/>
            <xs:enumeration value="FISA"/>
            <xs:enumeration value="HISA"/>
            <xs:enumeration value="INNF"/>
            <xs:enumeration value="JCSH"/>
            <xs:enumeration value="JISA"/>
            <xs:enumeration value="LISA"/>
            <xs:enumeration value="SCTF"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="GISK"/>
            <xs:enumeration value="GASK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxReference1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="TaxReferenceType1Choice"/>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HldrTp" type="TaxReferenceParty1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxReferenceParty1Choice">
        <xs:choice>
            <xs:element name="Cd" type="HolderType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxReferenceType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="PersonIdentificationType7Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxType17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROV"/>
            <xs:enumeration value="NATI"/>
            <xs:enumeration value="STAT"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="KAPA"/>
            <xs:enumeration value="NKAP"/>
            <xs:enumeration value="INPO"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="WTAX"/>
            <xs:enumeration value="INHT"/>
            <xs:enumeration value="SOSU"/>
            <xs:enumeration value="CTAX"/>
            <xs:enumeration value="GIFT"/>
            <xs:enumeration value="COAX"/>
            <xs:enumeration value="EUTR"/>
            <xs:enumeration value="AKT1"/>
            <xs:enumeration value="AKT2"/>
            <xs:enumeration value="ZWIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxType17Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxableIncomePerShareCalculated2Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxableIncomePerShareCalculated2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxableIncomePerShareCalculated2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TSIY"/>
            <xs:enumeration value="TSIN"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxationBasis2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="PERU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxationBasis5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="GRAM"/>
            <xs:enumeration value="NEAM"/>
            <xs:enumeration value="NAVP"/>
            <xs:enumeration value="PERU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TotalFeesAndTaxes41">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlOvrhdApld" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlFees" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxs" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComrclAgrmtRef" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IndvFee" type="Fee5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IndvTax" type="Tax35"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeTransactionCondition5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XCPN"/>
            <xs:enumeration value="CCPN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeTransactionCondition8Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeTransactionCondition5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransferType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TransferType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TransferType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CONV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDE"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="NAVL"/>
            <xs:enumeration value="CREA"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="SWNG"/>
            <xs:enumeration value="MIDD"/>
            <xs:enumeration value="RINV"/>
            <xs:enumeration value="SWIC"/>
            <xs:enumeration value="DDVR"/>
            <xs:enumeration value="ACTU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TypeOfPrice46Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfPrice10Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UKTaxGroupUnit1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GRP1"/>
            <xs:enumeration value="GRP2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Unit11">
        <xs:sequence>
            <xs:element name="UnitsNb" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqstnDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CertNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Grp1Or2Units" type="UKTaxGroupUnit1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="UnitPrice23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxOvrhd" type="TotalFeesAndTaxes41"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrAmt" type="OtherAmount1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitPrice23">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfPrice46Choice"/>
            <xs:element name="Val" type="PriceValue1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMtd" type="PriceMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstNAV" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblIncmPerShr" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblIncmPerShrClctd" type="TaxableIncomePerShareCalculated2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WaivingInstruction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WICA"/>
            <xs:enumeration value="WIUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="WaivingInstruction2Choice">
        <xs:choice>
            <xs:element name="Cd" type="WaivingInstruction1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
