assets/xsd/sese.011.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.13) on 2018 Jan 12 08:49:06, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.011.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.011.001.06">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference7">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification97Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference8">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationPendingStatus7Choice">
        <xs:choice>
            <xs:element name="Rsn" type="Max350Text"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancelledStatus13Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element name="Rsn" type="CancelledStatusReason3Code"/>
            <xs:element name="XtndedRsn" type="Extended350Code"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNTA"/>
            <xs:enumeration value="CNCL"/>
            <xs:enumeration value="CNIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ChargeBasis2Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxationBasis5Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ChargeOrCommissionDiscount1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="WaivingInstruction2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargeType5Choice">
        <xs:choice>
            <xs:element name="Cd" type="InvestmentFundFee1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TrfInstrStsRpt" type="TransferInstructionStatusReportV06"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailedSettlementStatus2Choice">
        <xs:choice>
            <xs:element name="Rsn" type="Max350Text"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Fee2">
        <xs:sequence>
            <xs:element name="Tp" type="ChargeType5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="ChargeBasis2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StdRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DscntDtls" type="ChargeOrCommissionDiscount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonStdSLARef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification113"/>
            <xs:element name="InftvInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="InRepairStatus4Choice">
        <xs:choice>
            <xs:element name="Rsn" type="Max350Text"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundFee1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEND"/>
            <xs:enumeration value="BRKF"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CDPL"/>
            <xs:enumeration value="CDSC"/>
            <xs:enumeration value="CBCH"/>
            <xs:enumeration value="DLEV"/>
            <xs:enumeration value="FEND"/>
            <xs:enumeration value="INIT"/>
            <xs:enumeration value="ADDF"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="SHIP"/>
            <xs:enumeration value="SWIT"/>
            <xs:enumeration value="UCIC"/>
            <xs:enumeration value="REGF"/>
            <xs:enumeration value="PENA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketPracticeVersion1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherAmount1">
        <xs:sequence>
            <xs:element name="Tp" type="OtherAmountType1Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherAmountType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="OtherAmountType1Code"/>
            <xs:element name="PrtryCd" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OtherAmountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PINT"/>
            <xs:enumeration value="SINT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification113">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification90Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification90Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification97Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="LglNttyIdr" type="LEIIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingSettlementStatus3Choice">
        <xs:choice>
            <xs:element name="Rsn" type="PendingSettlementStatusReason2Code"/>
            <xs:element name="XtndedRsn" type="Extended350Code"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingSettlementStatusReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="MINF"/>
            <xs:enumeration value="ACOP"/>
            <xs:enumeration value="IINV"/>
            <xs:enumeration value="CINV"/>
            <xs:enumeration value="AINV"/>
            <xs:enumeration value="WTRF"/>
            <xs:enumeration value="USUA"/>
            <xs:enumeration value="ASTA"/>
            <xs:enumeration value="AFST"/>
            <xs:enumeration value="STST"/>
            <xs:enumeration value="LPRO"/>
            <xs:enumeration value="ADRQ"/>
            <xs:enumeration value="ADS1"/>
            <xs:enumeration value="ADS2"/>
            <xs:enumeration value="DRJC"/>
            <xs:enumeration value="CYIN"/>
            <xs:enumeration value="CYDV"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="WCPA"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="TAPR"/>
            <xs:enumeration value="XCNF"/>
            <xs:enumeration value="ESCA"/>
            <xs:enumeration value="NRCP"/>
            <xs:enumeration value="FVER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="HIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriceValue1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References61Choice">
        <xs:choice>
            <xs:element maxOccurs="2" minOccurs="1" name="RltdRef" type="AdditionalReference8"/>
            <xs:element maxOccurs="2" minOccurs="1" name="OthrRef" type="AdditionalReference8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectedReason15Choice">
        <xs:choice>
            <xs:element name="Cd" type="TransferRejectedStatusReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionReason32">
        <xs:sequence>
            <xs:element name="Rsn" type="RejectedReason15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReversedStatus2Choice">
        <xs:choice>
            <xs:element name="Rsn" type="Max350Text"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Tax31">
        <xs:sequence>
            <xs:element name="Tp" type="TaxType3Choice"/>
            <xs:element name="ApldAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification113"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxClctnDtls" type="TaxCalculationInformation10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxBasis1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxationBasis2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxCalculationInformation10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Bsis" type="TaxBasis1Choice"/>
            <xs:element name="TaxblAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxType17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROV"/>
            <xs:enumeration value="NATI"/>
            <xs:enumeration value="STAT"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="KAPA"/>
            <xs:enumeration value="NKAP"/>
            <xs:enumeration value="INPO"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="WTAX"/>
            <xs:enumeration value="INHT"/>
            <xs:enumeration value="SOSU"/>
            <xs:enumeration value="CTAX"/>
            <xs:enumeration value="GIFT"/>
            <xs:enumeration value="COAX"/>
            <xs:enumeration value="EUTR"/>
            <xs:enumeration value="AKT1"/>
            <xs:enumeration value="AKT2"/>
            <xs:enumeration value="ZWIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxType17Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxableIncomePerShareCalculated2Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxableIncomePerShareCalculated2Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TaxableIncomePerShareCalculated2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TSIY"/>
            <xs:enumeration value="TSIN"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxationBasis2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="PERU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxationBasis5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="GRAM"/>
            <xs:enumeration value="NEAM"/>
            <xs:enumeration value="NAVP"/>
            <xs:enumeration value="PERU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TotalFeesAndTaxes40">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlOvrhdApld" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlFees" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxs" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComrclAgrmtRef" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IndvFee" type="Fee2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IndvTax" type="Tax31"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferInstructionStatus4">
        <xs:sequence>
            <xs:element name="Sts" type="TransferStatus4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferInstructionStatusReportV06">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRef" type="AdditionalReference7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="References61Choice"/>
            <xs:element name="StsRpt" type="TransferStatusAndReason5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktPrctcVrsn" type="MarketPracticeVersion1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransferRejectedStatusReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="ISTP"/>
            <xs:enumeration value="ICTN"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="IAQD"/>
            <xs:enumeration value="BLCA"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="IDNA"/>
            <xs:enumeration value="DLVY"/>
            <xs:enumeration value="LEGL"/>
            <xs:enumeration value="NSLA"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="INUK"/>
            <xs:enumeration value="INID"/>
            <xs:enumeration value="INAC"/>
            <xs:enumeration value="INNA"/>
            <xs:enumeration value="INPM"/>
            <xs:enumeration value="CYPA"/>
            <xs:enumeration value="PTNS"/>
            <xs:enumeration value="FTAX"/>
            <xs:enumeration value="ISAT"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="TREF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransferStatus2Choice">
        <xs:choice>
            <xs:element name="Sts" type="TransferInstructionStatus4"/>
            <xs:element name="PdgSttlm" type="PendingSettlementStatus3Choice"/>
            <xs:element name="Umtchd" type="TransferUnmatchedStatus3Choice"/>
            <xs:element name="InRpr" type="InRepairStatus4Choice"/>
            <xs:element maxOccurs="10" minOccurs="1" name="Rjctd" type="RejectionReason32"/>
            <xs:element name="FaildSttlm" type="FailedSettlementStatus2Choice"/>
            <xs:element name="Canc" type="CancelledStatus13Choice"/>
            <xs:element name="Rvsd" type="ReversedStatus2Choice"/>
            <xs:element name="CxlPdg" type="CancellationPendingStatus7Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TransferStatus4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="COSE"/>
            <xs:enumeration value="MACH"/>
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="STNP"/>
            <xs:enumeration value="SETT"/>
            <xs:enumeration value="COMP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransferStatusAndReason5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text"/>
            <xs:element name="TrfRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntRef" type="AdditionalReference7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRef" type="Max35Text"/>
            <xs:element name="TrfSts" type="TransferStatus2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndOutDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlUnitsNb" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AvrgPric" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UnitsDtls" type="Unit8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification113"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransferUnmatchedReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CMIS"/>
            <xs:enumeration value="CPCA"/>
            <xs:enumeration value="DELN"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PODU"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DQUA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransferUnmatchedStatus3Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element name="Rsn" type="TransferUnmatchedReason2Code"/>
            <xs:element name="XtndedRsn" type="Extended350Code"/>
            <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TypeOfPrice10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDE"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="NAVL"/>
            <xs:enumeration value="CREA"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="SWNG"/>
            <xs:enumeration value="MIDD"/>
            <xs:enumeration value="RINV"/>
            <xs:enumeration value="SWIC"/>
            <xs:enumeration value="DDVR"/>
            <xs:enumeration value="ACTU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TypeOfPrice46Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfPrice10Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UKTaxGroupUnit1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GRP1"/>
            <xs:enumeration value="GRP2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Unit8">
        <xs:sequence>
            <xs:element name="UnitsNb" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqstnDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CertNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Grp1Or2Units" type="UKTaxGroupUnit1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricDtls" type="UnitPrice23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxOvrhd" type="TotalFeesAndTaxes40"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrAmt" type="OtherAmount1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitPrice23">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfPrice46Choice"/>
            <xs:element name="Val" type="PriceValue1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricMtd" type="PriceMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstNAV" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblIncmPerShr" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblIncmPerShrClctd" type="TaxableIncomePerShareCalculated2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="WaivingInstruction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WICA"/>
            <xs:enumeration value="WIUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="WaivingInstruction2Choice">
        <xs:choice>
            <xs:element name="Cd" type="WaivingInstruction1Code"/>
            <xs:element name="Prtry" type="GenericIdentification47"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
